<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kl.pssc.mapper.StandardinfoProcesslossMapper">
    
    <resultMap type="StandardinfoProcessloss" id="StandardinfoProcesslossResult">
        <result property="processlossId"    column="processloss_id"    />
        <result property="processNumber"    column="process_number"    />
        <result property="processName"    column="process_name"    />
        <result property="processCapacity"    column="process_capacity"    />
        <result property="convertTime"    column="convert_time"    />
        <result property="lossRate"    column="loss_rate"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isValid"    column="is_valid"    />
        <result property="remark"    column="remark"    />
        <result property="attribute1"    column="attribute1"    />
        <result property="attribute2"    column="attribute2"    />
        <result property="attribute3"    column="attribute3"    />
    </resultMap>

    <sql id="selectStandardinfoProcesslossVo">
        select processloss_id, process_number, process_name, process_capacity, convert_time, loss_rate, p.create_by, p.create_time,su.user_name update_by, p.update_time, p.is_valid, p.remark, attribute1, attribute2, attribute3 
        from standardinfo_processloss p left join sys_user su on p.update_by = su.login_name
    </sql>

    <select id="selectStandardinfoProcesslossList" parameterType="StandardinfoProcessloss" resultMap="StandardinfoProcesslossResult">
        <include refid="selectStandardinfoProcesslossVo"/>
        <where>  
            <if test="processNumber != null  and processNumber != ''"> and process_number = #{processNumber}</if>
            <if test="processName != null  and processName != ''"> and process_name like concat('%', #{processName}, '%')</if>
            <if test="processCapacity != null  and processCapacity != ''"> and process_capacity = #{processCapacity}</if>
            <if test="convertTime != null  and convertTime != ''"> and convert_time = #{convertTime}</if>
            <if test="lossRate != null  and lossRate != ''"> and loss_rate = #{lossRate}</if>
            and is_valid = 'Y'
            <if test="attribute1 != null  and attribute1 != ''"> and attribute1 = #{attribute1}</if>
            <if test="attribute2 != null  and attribute2 != ''"> and attribute2 = #{attribute2}</if>
            <if test="attribute3 != null  and attribute3 != ''"> and attribute3 = #{attribute3}</if>
        </where>
    </select>
    
    <select id="selectStandardinfoProcesslossById" parameterType="Long" resultMap="StandardinfoProcesslossResult">
        <include refid="selectStandardinfoProcesslossVo"/>
        where processloss_id = #{processlossId}
    </select>
        
    <insert id="insertStandardinfoProcessloss" parameterType="StandardinfoProcessloss" useGeneratedKeys="true" keyProperty="processlossId">
        insert into standardinfo_processloss
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="processNumber != null and processNumber != ''">process_number,</if>
            <if test="processName != null and processName != ''">process_name,</if>
            <if test="processCapacity != null and processCapacity != ''">process_capacity,</if>
            <if test="convertTime != null and convertTime != ''">convert_time,</if>
            <if test="lossRate != null and lossRate != ''">loss_rate,</if>
            <if test="createBy != null">create_by,</if>
            create_time,
            <if test="updateBy != null">update_by,</if>
            update_time,
            is_valid,
            <if test="remark != null and remark != ''">remark,</if>
            <if test="attribute1 != null">attribute1,</if>
            <if test="attribute2 != null">attribute2,</if>
            <if test="attribute3 != null">attribute3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="processNumber != null and processNumber != ''">#{processNumber},</if>
            <if test="processName != null and processName != ''">#{processName},</if>
            <if test="processCapacity != null and processCapacity != ''">#{processCapacity},</if>
            <if test="convertTime != null and convertTime != ''">#{convertTime},</if>
            <if test="lossRate != null and lossRate != ''">#{lossRate},</if>
            <if test="createBy != null">#{createBy},</if>
            sysdate(),
            <if test="updateBy != null">#{updateBy},</if>
            sysdate(),
            'Y',
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="attribute1 != null">#{attribute1},</if>
            <if test="attribute2 != null">#{attribute2},</if>
            <if test="attribute3 != null">#{attribute3},</if>
         </trim>
    </insert>

    <update id="updateStandardinfoProcessloss" parameterType="StandardinfoProcessloss">
        update standardinfo_processloss
        <trim prefix="SET" suffixOverrides=",">
            <if test="processNumber != null and processNumber != ''">process_number = #{processNumber},</if>
            <if test="processName != null and processName != ''">process_name = #{processName},</if>
            <if test="processCapacity != null and processCapacity != ''">process_capacity = #{processCapacity},</if>
            <if test="convertTime != null and convertTime != ''">convert_time = #{convertTime},</if>
            <if test="lossRate != null and lossRate != ''">loss_rate = #{lossRate},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate(),
            <if test="isValid != null">is_valid = #{isValid},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="attribute1 != null">attribute1 = #{attribute1},</if>
            <if test="attribute2 != null">attribute2 = #{attribute2},</if>
            <if test="attribute3 != null">attribute3 = #{attribute3},</if>
        </trim>
        where processloss_id = #{processlossId}
    </update>

    <update id="updateStandardinfoProcesslossById" parameterType="Long">
        update standardinfo_processloss set is_valid = 'N' 
        where processloss_id = #{processlossId}
    </update>

    <update id="updateStandardinfoProcesslossByIds" parameterType="String">
        update standardinfo_processloss set is_valid = 'N' where processloss_id in 
        <foreach item="processlossId" collection="array" open="(" separator="," close=")">
            #{processlossId}
        </foreach>
    </update>

    <delete id="deleteStandardinfoProcesslossById" parameterType="Long">
        delete from standardinfo_processloss where processloss_id = #{processlossId}
    </delete>

    <delete id="deleteStandardinfoProcesslossByIds" parameterType="String">
        delete from standardinfo_processloss where processloss_id in 
        <foreach item="processlossId" collection="array" open="(" separator="," close=")">
            #{processlossId}
        </foreach>
    </delete>

</mapper>