<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kl.pssc.mapper.StandardinfoVendorMapper">
    
    <resultMap type="StandardinfoVendor" id="StandardinfoVendorResult">
        <result property="vendorId"    column="vendor_id"    />
        <result property="vendorCategory"    column="vendor_category"    />
        <result property="vendorNumber"    column="vendor_number"    />
        <result property="vendorName"    column="vendor_name"    />
        <result property="vendorPhone"    column="vendor_phone"    />
        <result property="contractName"    column="contract_name"    />
        <result property="contractMobile"    column="contract_mobile"    />
        <result property="vendorAddr"    column="vendor_addr"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isValid"    column="is_valid"    />
        <result property="remark"    column="remark"    />
        <result property="attribute1"    column="attribute1"    />
        <result property="attribute2"    column="attribute2"    />
        <result property="attribute3"    column="attribute3"    />
    </resultMap>

    <sql id="selectStandardinfoVendorVo">
        select vendor_id, vendor_category, vendor_number, vendor_name, vendor_phone, contract_name, contract_mobile, vendor_addr, v.create_by, v.create_time, su.user_name update_by, v.update_time, v.is_valid, v.remark, attribute1, attribute2, attribute3 
        from standardinfo_vendor v left join sys_user su on v.update_by = su.login_name
    </sql>

    <select id="selectStandardinfoVendorList" parameterType="StandardinfoVendor" resultMap="StandardinfoVendorResult">
        <include refid="selectStandardinfoVendorVo"/>
        <where>  
            <if test="vendorCategory != null  and vendorCategory != ''"> and vendor_category = #{vendorCategory}</if>
            <if test="vendorNumber != null  and vendorNumber != ''"> and vendor_number = #{vendorNumber}</if>
            <if test="vendorName != null  and vendorName != ''"> and vendor_name like concat('%', #{vendorName}, '%')</if>
            <if test="vendorPhone != null  and vendorPhone != ''"> and vendor_phone = #{vendorPhone}</if>
            <if test="contractName != null  and contractName != ''"> and contract_name like concat('%', #{contractName}, '%')</if>
            <if test="contractMobile != null  and contractMobile != ''"> and contract_mobile = #{contractMobile}</if>
            <if test="vendorAddr != null  and vendorAddr != ''"> and vendor_addr = #{vendorAddr}</if>
             and is_valid = 'Y'
        </where>
    </select>
    
    <select id="selectStandardinfoVendorById" parameterType="Long" resultMap="StandardinfoVendorResult">
        <include refid="selectStandardinfoVendorVo"/>
        where vendor_id = #{vendorId}
    </select>
        
    <insert id="insertStandardinfoVendor" parameterType="StandardinfoVendor" useGeneratedKeys="true" keyProperty="vendorId">
        insert into standardinfo_vendor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="vendorCategory != null and vendorCategory != ''">vendor_category,</if>
            <if test="vendorNumber != null and vendorNumber != ''">vendor_number,</if>
            <if test="vendorName != null and vendorName != ''">vendor_name,</if>
            <if test="vendorPhone != null and vendorPhone != ''">vendor_phone,</if>
            <if test="contractName != null and contractName != ''">contract_name,</if>
            <if test="contractMobile != null and contractMobile != ''">contract_mobile,</if>
            <if test="vendorAddr != null and vendorAddr != ''">vendor_addr,</if>
            <if test="createBy != null">create_by,</if>
            create_time,
            <if test="updateBy != null">update_by,</if>
            update_time,
            is_valid,
            <if test="remark != null and remark != ''">remark,</if>
            <if test="attribute1 != null">attribute1,</if>
            <if test="attribute2 != null">attribute2,</if>
            <if test="attribute3 != null">attribute3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="vendorCategory != null and vendorCategory != ''">#{vendorCategory},</if>
            <if test="vendorNumber != null and vendorNumber != ''">#{vendorNumber},</if>
            <if test="vendorName != null and vendorName != ''">#{vendorName},</if>
            <if test="vendorPhone != null and vendorPhone != ''">#{vendorPhone},</if>
            <if test="contractName != null and contractName != ''">#{contractName},</if>
            <if test="contractMobile != null and contractMobile != ''">#{contractMobile},</if>
            <if test="vendorAddr != null and vendorAddr != ''">#{vendorAddr},</if>
            <if test="createBy != null">#{createBy},</if>
            sysdate(),
            <if test="updateBy != null">#{updateBy},</if>
            sysdate(),
            'Y',
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="attribute1 != null">#{attribute1},</if>
            <if test="attribute2 != null">#{attribute2},</if>
            <if test="attribute3 != null">#{attribute3},</if>
         </trim>
    </insert>

    <update id="updateStandardinfoVendor" parameterType="StandardinfoVendor">
        update standardinfo_vendor
        <trim prefix="SET" suffixOverrides=",">
            <if test="vendorCategory != null and vendorCategory != ''">vendor_category = #{vendorCategory},</if>
            <if test="vendorNumber != null and vendorNumber != ''">vendor_number = #{vendorNumber},</if>
            <if test="vendorName != null and vendorName != ''">vendor_name = #{vendorName},</if>
            <if test="vendorPhone != null and vendorPhone != ''">vendor_phone = #{vendorPhone},</if>
            <if test="contractName != null and contractName != ''">contract_name = #{contractName},</if>
            <if test="contractMobile != null and contractMobile != ''">contract_mobile = #{contractMobile},</if>
            <if test="vendorAddr != null and vendorAddr != ''">vendor_addr = #{vendorAddr},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate(),
            <if test="isValid != null">is_valid = #{isValid},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="attribute1 != null">attribute1 = #{attribute1},</if>
            <if test="attribute2 != null">attribute2 = #{attribute2},</if>
            <if test="attribute3 != null">attribute3 = #{attribute3},</if>
        </trim>
        where vendor_id = #{vendorId}
    </update>

    <update id="updateStandardinfoVendorById" parameterType="Long">
        update standardinfo_vendor set is_valid = 'N'  where vendor_id = #{vendorId}
    </update>

    <update id="updateStandardinfoVendorByIds" parameterType="String">
        update standardinfo_vendor set is_valid = 'N' where vendor_id in 
        <foreach item="vendorId" collection="array" open="(" separator="," close=")">
            #{vendorId}
        </foreach>
    </update>

    <delete id="deleteStandardinfoVendorById" parameterType="Long">
        delete from standardinfo_vendor where vendor_id = #{vendorId}
    </delete>

    <delete id="deleteStandardinfoVendorByIds" parameterType="String">
        delete from standardinfo_vendor where vendor_id in 
        <foreach item="vendorId" collection="array" open="(" separator="," close=")">
            #{vendorId}
        </foreach>
    </delete>

</mapper>