<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增成品检验记录')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-prodcm-add">
            <input type="hidden" name="createBy" th:value="${@permission.getPrincipalProperty('loginName')}">
            <input type="hidden" name="updateBy" th:value="${@permission.getPrincipalProperty('loginName')}">
            <h4 class="form-header h4">基本信息</h4>
            <div class="form-group">    
                <label class="col-sm-2 control-label is-required">检验单号：</label>
                <div class="col-sm-4">
                    <input name="qcode" class="form-control" type="text" required>
                </div>
                <label class="col-sm-2 control-label is-required">检验时间：</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        <input name="qtime" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label is-required">检验人：</label>
                <div class="col-sm-4">
                    <input name="quser" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label is-required">成品编号：</label>
                <div class="col-sm-4">
                    <input name="pcode" class="form-control" type="text" required>
                </div>
                <label class="col-sm-2 control-label is-required">成品名称：</label>
                <div class="col-sm-4">
                    <input name="pname" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label is-required">批次号：</label>
                <div class="col-sm-4">
                    <input name="lot" class="form-control" type="text" required>
                </div>
                <label class="col-sm-2 control-label is-required">检验结果：</label>
                <div class="col-sm-4">
                    <select name="qcResult" class="form-control m-b" th:with="type=${@dict.getType('pp_qc_result')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group" style="display: none;" >
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="form-control"></textarea>
                </div>
            </div>
            <h4 class="form-header h4">检验信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-white btn-sm" onclick="addColumn('')"><i class="fa fa-plus"> 增加</i></button>
                    <button type="button" class="btn btn-white btn-sm" onclick="sub.delColumn()"><i class="fa fa-minus"> 删除</i></button>
                    <button type="button" class="btn btn-info btn-sm" onclick="$.table.custImportExcel()"><i class="fa fa-upload"></i> 导入</button>
                    <div class="col-sm-12 select-table table-striped">
                        <table id="bootstrap-table"></table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "qc/prodcm"
        var qcResultDatas = [[${@dict.getType('pp_qc_result')}]];
        var isValidDatas = [[${@dict.getType('sys_is_valid')}]];
        $("#form-prodcm-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-prodcm-add').serialize());
            }
        }

        $("input[name='qtime']").datetimepicker({
            format: "yyyy-mm-dd hh:ii:ss",
            minView: "month",
            autoclose: true
        });

        $(function() {
            var options = {
                modalName: "成品检验信息",
                importUrl: ctx + "qc/prodcd/importData",
                importTemplateUrl: ctx + "qc/prodcd/importTemplate",
                pagination: false,
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                sidePagination: "client",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'index',
                    align: 'center',
                    title: "序号",
                    formatter: function (value, row, index) {
                    	var columnIndex = $.common.sprintf("<input type='hidden' name='index' value='%s'>", $.table.serialNumber(index));
                    	return columnIndex + $.table.serialNumber(index);
                    }
                },
                {
                    field: 'projectCode',
                    align: 'center',
                    title: '检验项目编号',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='qcProdCheckDetailList[%s].projectCode' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'cproject',
                    align: 'center',
                    title: '检验项目',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='qcProdCheckDetailList[%s].cproject' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'csop',
                    align: 'center',
                    title: '检验标准',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='qcProdCheckDetailList[%s].csop' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'cmethod',
                    align: 'center',
                    title: '检验方法',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='qcProdCheckDetailList[%s].cmethod' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'qcResult',
                    align: 'center',
                    title: '检验结果',
                    formatter: function(value, row, index) {
                        var name = $.common.sprintf("qcProdCheckDetailList[%s].qcResult", index);
                        return $.common.dictToSelect(qcResultDatas, value, name);
                    }
                },
                {
                    field: 'isValid',
                    align: 'center',
                    title: '有效否',
                    visible: false,
                    formatter: function(value, row, index) {
                        var name = $.common.sprintf("qcProdCheckDetailList[%s].isValid", index);
                        return $.common.dictToSelect(isValidDatas, value, name);
                    }
                },
                {
                    field: 'createBy',
                    align: 'center',
                    title: '创建人',
                    visible: false,
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='qcProdCheckDetailList[%s].createBy' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'createTime',
                    align: 'center',
                    title: '创建时间 默认为当前时间',
                    visible: false,
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='qcProdCheckDetailList[%s].createTime' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'updateBy',
                    align: 'center',
                    title: '修改人',
                    visible: false,
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='qcProdCheckDetailList[%s].updateBy' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'updateTime',
                    align: 'center',
                    title: '修改时间',
                    visible: false,
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='qcProdCheckDetailList[%s].updateTime' value='%s'>", index, value);
                        return html;
                    }
                }]
            };
            $.table.init(options);
        });

        function addColumn(obj) {
            var count = $("#" + table.options.id).bootstrapTable('getData').length;
            sub.editColumn();
            
            $("#" + table.options.id).bootstrapTable('insertRow', {
                index: count,
                row: {
                    index: $.table.serialNumber(count),
                    projectCode: $.common.isNotEmpty(obj)?obj.projectCode:"",
                    cproject: $.common.isNotEmpty(obj)?obj.cproject:"",
                    csop: $.common.isNotEmpty(obj)?obj.csop:"",
                    cmethod: $.common.isNotEmpty(obj)?obj.cmethod:"",
                    qcResult: $.common.isNotEmpty(obj)?obj.qcResult:"",
                    createBy: $("input[name='createBy']").val(),
                    createTime: $.common.dateFormat(new Date(),"yyyy-MM-dd HH:mm:ss"),
                    updateBy: $("input[name='updateBy']").val(),
                    updateTime: $.common.dateFormat(new Date(),"yyyy-MM-dd HH:mm:ss")
                }
            });
        }
    </script>
</body>
<script id="importTpl" type="text/template">
<form enctype="multipart/form-data" class="mt20 mb10">
	<div class="col-xs-offset-1">
		<input type="file" id="file" name="file"/>
		<div class="mt10 pt5">
			下载模板:  &nbsp;	<a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
		</div>
		<font color="red" class="pull-left mt10">
			提示：仅允许导入“xls”或“xlsx”格式文件！
		</font>
	</div>
</form>
</script>
</html>