<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saas.pssc.mapper.QcBadProjectDetailMapper">
    
    <resultMap type="QcBadProjectDetail" id="QcBadProjectDetailResult">
        <result property="id"    column="id"    />
        <result property="mainId"    column="main_id"    />
        <result property="no"    column="no"    />
        <result property="cwork"    column="cwork"    />
        <result property="cstation"    column="cstation"    />
        <result property="lot"    column="lot"    />
        <result property="project"    column="project"    />
        <result property="qty"    column="qty"    />
        <result property="memo"    column="memo"    />
        <result property="tempway"    column="tempway"    />
        <result property="cause"    column="cause"    />
        <result property="causeway"    column="causeway"    />
        <result property="handleway"    column="handleway"    />
        <result property="remark"    column="remark"    />
        <result property="isValid"    column="is_valid"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="attribute1"    column="attribute1"    />
        <result property="attribute3"    column="attribute3"    />
        <result property="attribute2"    column="attribute2"    />
    </resultMap>

    <sql id="selectQcBadProjectDetailVo">
        select id, main_id,no, cwork, cstation, lot, project, qty, memo, tempway, cause, causeway, handleway, remark, is_valid, create_by, create_time, update_by, update_time, attribute1, attribute3, attribute2 from qc_bad_project_detail
    </sql>

    <select id="selectQcBadProjectDetailList" parameterType="QcBadProjectDetail" resultMap="QcBadProjectDetailResult">
        <include refid="selectQcBadProjectDetailVo"/>
        <where>  
            <if test="mainId != null  and mainId != ''"> and main_id = #{mainId}</if>
            <if test="cwork != null  and cwork != ''"> and cwork = #{cwork}</if>
            <if test="cstation != null  and cstation != ''"> and cstation = #{cstation}</if>
            <if test="lot != null  and lot != ''"> and lot = #{lot}</if>
            <if test="project != null  and project != ''"> and project = #{project}</if>
            <if test="qty != null "> and qty = #{qty}</if>
            <if test="memo != null  and memo != ''"> and memo = #{memo}</if>
            <if test="tempway != null  and tempway != ''"> and tempway = #{tempway}</if>
            <if test="cause != null  and cause != ''"> and cause = #{cause}</if>
            <if test="causeway != null  and causeway != ''"> and causeway = #{causeway}</if>
            <if test="handleway != null  and handleway != ''"> and handleway = #{handleway}</if>
        </where>
    </select>
    
    <select id="selectQcBadProjectDetailById" parameterType="String" resultMap="QcBadProjectDetailResult">
        <include refid="selectQcBadProjectDetailVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertQcBadProjectDetail" parameterType="QcBadProjectDetail">
        insert into qc_bad_project_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="mainId != null">main_id,</if>
            <if test="no != null">no,</if>
            <if test="cwork != null and cwork != ''">cwork,</if>
            <if test="cstation != null and cstation != ''">cstation,</if>
            <if test="lot != null and lot != ''">lot,</if>
            <if test="project != null and project != ''">project,</if>
            <if test="qty != null">qty,</if>
            <if test="memo != null and memo != ''">memo,</if>
            <if test="tempway != null and tempway != ''">tempway,</if>
            <if test="cause != null and cause != ''">cause,</if>
            <if test="causeway != null and causeway != ''">causeway,</if>
            <if test="handleway != null and handleway != ''">handleway,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="isValid != null">is_valid,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time,
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            update_time,
            <if test="attribute1 != null">attribute1,</if>
            <if test="attribute3 != null">attribute3,</if>
            <if test="attribute2 != null">attribute2,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="mainId != null">#{mainId},</if>
            <if test="no != null">#{no},</if>
            <if test="cwork != null and cwork != ''">#{cwork},</if>
            <if test="cstation != null and cstation != ''">#{cstation},</if>
            <if test="lot != null and lot != ''">#{lot},</if>
            <if test="project != null and project != ''">#{project},</if>
            <if test="qty != null">#{qty},</if>
            <if test="memo != null and memo != ''">#{memo},</if>
            <if test="tempway != null and tempway != ''">#{tempway},</if>
            <if test="cause != null and cause != ''">#{cause},</if>
            <if test="causeway != null and causeway != ''">#{causeway},</if>
            <if test="handleway != null and handleway != ''">#{handleway},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="isValid != null">#{isValid},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="attribute1 != null">#{attribute1},</if>
            <if test="attribute3 != null">#{attribute3},</if>
            <if test="attribute2 != null">#{attribute2},</if>
         </trim>
    </insert>

    <update id="updateQcBadProjectDetail" parameterType="QcBadProjectDetail">
        update qc_bad_project_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="mainId != null and mainId != ''">main_id = #{mainId},</if>
            <if test="cwork != null and cwork != ''">cwork = #{cwork},</if>
            <if test="cstation != null and cstation != ''">cstation = #{cstation},</if>
            <if test="lot != null and lot != ''">lot = #{lot},</if>
            <if test="project != null and project != ''">project = #{project},</if>
            <if test="qty != null">qty = #{qty},</if>
            <if test="memo != null and memo != ''">memo = #{memo},</if>
            <if test="tempway != null and tempway != ''">tempway = #{tempway},</if>
            <if test="cause != null and cause != ''">cause = #{cause},</if>
            <if test="causeway != null and causeway != ''">causeway = #{causeway},</if>
            <if test="handleway != null and handleway != ''">handleway = #{handleway},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="isValid != null">is_valid = #{isValid},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="attribute1 != null">attribute1 = #{attribute1},</if>
            <if test="attribute3 != null">attribute3 = #{attribute3},</if>
            <if test="attribute2 != null">attribute2 = #{attribute2},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteQcBadProjectDetailById" parameterType="String">
        delete from qc_bad_project_detail where id = #{id}
    </delete>

    <delete id="deleteQcBadProjectDetailByIds" parameterType="String">
        delete from qc_bad_project_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>