<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saas.pssc.mapper.QcProcessCheckMainMapper">
    
    <resultMap type="QcProcessCheckMain" id="QcProcessCheckMainResult">
        <result property="id"    column="id"    />
        <result property="qcode"    column="qcode"    />
        <result property="qtime"    column="qtime"    />
        <result property="quser"    column="quser"    />
        <result property="pcode"    column="pcode"    />
        <result property="pname"    column="pname"    />
        <result property="cwork"    column="cwork"    />
        <result property="ctype"    column="ctype"    />
        <result property="qcResult"    column="qc_result"    />
        <result property="remark"    column="remark"    />
        <result property="isValid"    column="is_valid"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="attribute1"    column="attribute1"    />
        <result property="attribute2"    column="attribute2"    />
        <result property="attribute3"    column="attribute3"    />
    </resultMap>

    <resultMap id="QcProcessCheckMainQcProcessCheckDetailResult" type="QcProcessCheckMain" extends="QcProcessCheckMainResult">
        <collection property="qcProcessCheckDetailList" notNullColumn="sub_id" javaType="java.util.List" resultMap="QcProcessCheckDetailResult" />
    </resultMap>

    <resultMap type="QcProcessCheckDetail" id="QcProcessCheckDetailResult">
        <result property="id"    column="sub_id"    />
        <result property="mainId"    column="sub_main_id"    />
        <result property="projectCode"    column="sub_project_code"    />
        <result property="cproject"    column="sub_cproject"    />
        <result property="csop"    column="sub_csop"    />
        <result property="cmethod"    column="sub_cmethod"    />
        <result property="qcResult"    column="sub_qc_result"    />
        <result property="isValid"    column="sub_is_valid"    />
        <result property="createBy"    column="sub_create_by"    />
        <result property="createTime"    column="sub_create_time"    />
        <result property="updateBy"    column="sub_update_by"    />
        <result property="updateTime"    column="sub_update_time"    />
        <result property="attribute1"    column="sub_attribute1"    />
        <result property="attribute2"    column="sub_attribute2"    />
        <result property="attribute3"    column="sub_attribute3"    />
    </resultMap>

    <sql id="selectQcProcessCheckMainVo">
        select id, qcode, qtime, quser, pcode, pname, cwork, ctype, qc_result, t.remark, t.is_valid, t.create_by, t.create_time, t.update_by,t.update_time, attribute1, attribute2, attribute3 
        from qc_process_check_main t left join sys_user su on t.create_by = su.login_name
    </sql>

    <select id="selectQcProcessCheckMainList" parameterType="QcProcessCheckMain" resultMap="QcProcessCheckMainResult">
        <include refid="selectQcProcessCheckMainVo"/>
        <where>  
            <if test="qStarttime != null "> and qtime >= #{qStarttime}</if>
            <if test="qEndtime != null "> and qtime  &lt;=#{qEndtime}</if> 
            <if test="qcode != null  and qcode != ''"> and qcode = #{qcode}</if>
            <if test="qtime != null "> and qtime = #{qtime}</if>
            <if test="pcode != null  and pcode != ''"> and pcode = #{pcode}</if>
            <if test="pname != null  and pname != ''"> and pname like concat('%', #{pname}, '%')</if>
            <if test="cwork != null  and cwork != ''"> and cwork = #{cwork}</if>
            <if test="ctype != null  and ctype != ''"> and ctype = #{ctype}</if>
            and is_valid = '1'  ${params.dataScope}
        </where>
        order by qcode
    </select>
    
    <select id="selectQcProcessCheckMainById" parameterType="Long" resultMap="QcProcessCheckMainQcProcessCheckDetailResult">
        select a.id, a.qcode, a.qtime, a.quser, a.pcode, a.pname, a.cwork, a.ctype, a.qc_result, a.remark, a.is_valid, a.create_by, a.create_time, a.update_by, a.update_time, a.attribute1, a.attribute2, a.attribute3,
            b.id as sub_id, b.main_id as sub_main_id, b.project_code as sub_project_code, b.cproject as sub_cproject, b.csop as sub_csop, b.cmethod as sub_cmethod, b.qc_result as sub_qc_result, b.is_valid as sub_is_valid, b.create_by as sub_create_by, b.create_time as sub_create_time, b.update_by as sub_update_by, b.update_time as sub_update_time, b.attribute1 as sub_attribute1, b.attribute2 as sub_attribute2, b.attribute3 as sub_attribute3
        from qc_process_check_main a
        left join qc_process_check_detail b on b.main_id = a.id
        where a.id = #{id}
    </select>
        
    <insert id="insertQcProcessCheckMain" parameterType="QcProcessCheckMain" useGeneratedKeys="true" keyProperty="id">
        insert into qc_process_check_main
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="qcode != null and qcode != ''">qcode,</if>
            <if test="qtime != null">qtime,</if>
            <if test="quser != null">quser,</if>
            <if test="pcode != null">pcode,</if>
            <if test="pname != null">pname,</if>
            <if test="cwork != null">cwork,</if>
            <if test="ctype != null">ctype,</if>
            <if test="qcResult != null">qc_result,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time,
            <if test="updateBy != null">update_by,</if>
            update_time,
            <if test="attribute1 != null">attribute1,</if>
            <if test="attribute2 != null">attribute2,</if>
            <if test="attribute3 != null">attribute3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="qcode != null and qcode != ''">#{qcode},</if>
            <if test="qtime != null">#{qtime},</if>
            <if test="quser != null">#{quser},</if>
            <if test="pcode != null">#{pcode},</if>
            <if test="pname != null">#{pname},</if>
            <if test="cwork != null">#{cwork},</if>
            <if test="ctype != null">#{ctype},</if>
            <if test="qcResult != null">#{qcResult},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate(),
            <if test="updateBy != null">#{updateBy},</if>
            sysdate(),
            <if test="attribute1 != null">#{attribute1},</if>
            <if test="attribute2 != null">#{attribute2},</if>
            <if test="attribute3 != null">#{attribute3},</if>
         </trim>
    </insert>

    <update id="updateQcProcessCheckMain" parameterType="QcProcessCheckMain">
        update qc_process_check_main
        <trim prefix="SET" suffixOverrides=",">
            <if test="qcode != null and qcode != ''">qcode = #{qcode},</if>
            <if test="qtime != null">qtime = #{qtime},</if>
            <if test="quser != null">quser = #{quser},</if>
            <if test="pcode != null">pcode = #{pcode},</if>
            <if test="pname != null">pname = #{pname},</if>
            <if test="cwork != null">cwork = #{cwork},</if>
            <if test="ctype != null">ctype = #{ctype},</if>
            <if test="qcResult != null">qc_result = #{qcResult},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="isValid != null">is_valid = #{isValid},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate(),
            <if test="attribute1 != null">attribute1 = #{attribute1},</if>
            <if test="attribute2 != null">attribute2 = #{attribute2},</if>
            <if test="attribute3 != null">attribute3 = #{attribute3},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteQcProcessCheckMainById" parameterType="Long">
        delete from qc_process_check_main where id = #{id}
    </delete>

    <delete id="deleteQcProcessCheckMainByIds" parameterType="String">
        delete from qc_process_check_main where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <delete id="deleteQcProcessCheckDetailByMainIds" parameterType="String">
        delete from qc_process_check_detail where main_id in 
        <foreach item="mainId" collection="array" open="(" separator="," close=")">
            #{mainId}
        </foreach>
    </delete>

    <delete id="deleteQcProcessCheckDetailByMainId" parameterType="Long">
        delete from qc_process_check_detail where main_id = #{mainId}
    </delete>

    <insert id="batchQcProcessCheckDetail">
        insert into qc_process_check_detail( id, main_id, project_code, cproject, csop, cmethod, qc_result, create_by, create_time, update_by, update_time, attribute1, attribute2, attribute3) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.mainId}, #{item.projectCode}, #{item.cproject}, #{item.csop}, #{item.cmethod}, #{item.qcResult}, #{item.createBy}, sysdate(), #{item.updateBy}, sysdate(), #{item.attribute1}, #{item.attribute2}, #{item.attribute3})
        </foreach>
    </insert>

</mapper>