<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saas.pssc.mapper.QcProdCheckMainMapper">
    
    <resultMap type="QcProdCheckMain" id="QcProdCheckMainResult">
        <result property="id"    column="id"    />
        <result property="qcode"    column="qcode"    />
        <result property="qtime"    column="qtime"    />
        <result property="quser"    column="quser"    />
        <result property="pcode"    column="pcode"    />
        <result property="pname"    column="pname"    />
        <result property="pspec"    column="pspec"    />
        <result property="lot"    column="lot"    />
        <result property="qcResult"    column="qc_result"    />
        <result property="handleResult"    column="handle_result"    />
        <result property="remark"    column="remark"    />
        <result property="isValid"    column="is_valid"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="attribute1"    column="attribute1"    />
        <result property="attribute2"    column="attribute2"    />
        <result property="attribute3"    column="attribute3"    />
    </resultMap>

    <resultMap id="QcProdCheckMainQcProdCheckDetailResult" type="QcProdCheckMain" extends="QcProdCheckMainResult">
        <collection property="qcProdCheckDetailList" notNullColumn="sub_id" javaType="java.util.List" resultMap="QcProdCheckDetailResult" />
    </resultMap>

    <resultMap type="QcProdCheckDetail" id="QcProdCheckDetailResult">
        <result property="id"    column="sub_id"    />
        <result property="mainId"    column="sub_main_id"    />
        <result property="orderno"    column="sub_orderno"    />
        <result property="projectCode"    column="sub_project_code"    />
        <result property="cproject"    column="sub_cproject"    />
        <result property="csop"    column="sub_csop"    />
        <result property="cmethod"    column="sub_cmethod"    />
        <result property="qcResult"    column="sub_qc_result"    />
        <result property="isValid"    column="sub_is_valid"    />
        <result property="createBy"    column="sub_create_by"    />
        <result property="createTime"    column="sub_create_time"    />
        <result property="updateBy"    column="sub_update_by"    />
        <result property="updateTime"    column="sub_update_time"    />
        <result property="attribute1"    column="sub_attribute1"    />
        <result property="attribute2"    column="sub_attribute2"    />
        <result property="attribute3"    column="sub_attribute3"    />
    </resultMap>

    <sql id="selectQcProdCheckMainVo">
        select id, qcode, qtime, quser, pcode, pname,pspec, lot, qc_result,handle_result, t.remark, t.is_valid, t.create_by, t.create_time, t.update_by, t.update_time, attribute1, attribute2, attribute3 
        from qc_prod_check_main t left join sys_user su on t.create_by = su.login_name
    </sql>

    <select id="selectQcProdCheckMainList" parameterType="QcProdCheckMain" resultMap="QcProdCheckMainResult">
        <include refid="selectQcProdCheckMainVo"/>
        <where>  
            <if test="qStarttime != null "> and DATE_FORMAT(qtime ,'%Y-%m-%d') >= DATE_FORMAT(#{qStarttime} ,'%Y-%m-%d')</if>
            <if test="qEndtime != null "> and DATE_FORMAT(qtime ,'%Y-%m-%d') &lt;= DATE_FORMAT(#{qEndtime} ,'%Y-%m-%d')</if> 
            <if test="qcode != null  and qcode != ''"> and qcode like concat('%', #{qcode}, '%')</if>
            <if test="qtime != null "> and qtime = #{qtime}</if>
            <if test="pcode != null  and pcode != ''"> and pcode like concat('%', #{pcode}, '%')</if>
            <if test="pname != null  and pname != ''"> and pname like concat('%', #{pname}, '%')</if>
            <if test="qcResult != null  and qcResult != ''"> and qc_result = #{qcResult}</if>
            and is_valid = '1'
            <!-- 数据范围过滤 -->  
            ${params.dataScope}
        </where>
        order by t.create_time desc
    </select>
    
    <select id="selectQcProdCheckMainById" parameterType="String" resultMap="QcProdCheckMainQcProdCheckDetailResult">
        select a.id, a.qcode, a.qtime, a.quser, a.pcode, a.pname,a.pspec, a.lot, a.qc_result,a.handle_result, a.remark, a.is_valid, a.create_by, a.create_time, a.update_by, a.update_time, a.attribute1, a.attribute2, a.attribute3,
            b.id as sub_id, b.main_id as sub_main_id,b.orderno as sub_orderno,  b.project_code as sub_project_code, b.cproject as sub_cproject, b.csop as sub_csop, b.cmethod as sub_cmethod, b.qc_result as sub_qc_result, b.is_valid as sub_is_valid, b.create_by as sub_create_by, b.create_time as sub_create_time, b.update_by as sub_update_by, b.update_time as sub_update_time, b.attribute1 as sub_attribute1, b.attribute2 as sub_attribute2, b.attribute3 as sub_attribute3
        from qc_prod_check_main a
        left join qc_prod_check_detail b on b.main_id = a.id
        where a.id = #{id}
        order by b.orderno
    </select>
        
    <insert id="insertQcProdCheckMain" parameterType="QcProdCheckMain" useGeneratedKeys="true" keyProperty="id">
        insert into qc_prod_check_main
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="qcode != null and qcode != ''">qcode,</if>
            <if test="qtime != null">qtime,</if>
            <if test="quser != null">quser,</if>
            <if test="pcode != null">pcode,</if>
            <if test="pname != null">pname,</if>
            <if test="pspec != null">pspec,</if>
            <if test="lot != null">lot,</if>
            <if test="qcResult != null">qc_result,</if>
            <if test="handleResult != null">handle_result,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time,
            <if test="updateBy != null">update_by,</if>
            update_time,
            <if test="attribute1 != null">attribute1,</if>
            <if test="attribute2 != null">attribute2,</if>
            <if test="attribute3 != null">attribute3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="qcode != null and qcode != ''">#{qcode},</if>
            <if test="qtime != null">#{qtime},</if>
            <if test="quser != null">#{quser},</if>
            <if test="pcode != null">#{pcode},</if>
            <if test="pname != null">#{pname},</if>
            <if test="pspec != null">#{pspec},</if>
            <if test="lot != null">#{lot},</if>
            <if test="qcResult != null">#{qcResult},</if>
            <if test="handleResult != null">#{handleResult},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate(),
            <if test="updateBy != null">#{updateBy},</if>
            sysdate(),
            <if test="attribute1 != null">#{attribute1},</if>
            <if test="attribute2 != null">#{attribute2},</if>
            <if test="attribute3 != null">#{attribute3},</if>
         </trim>
    </insert>

    <update id="updateQcProdCheckMain" parameterType="QcProdCheckMain">
        update qc_prod_check_main
        <trim prefix="SET" suffixOverrides=",">
            <if test="qcode != null and qcode != ''">qcode = #{qcode},</if>
            <if test="qtime != null">qtime = #{qtime},</if>
            <if test="quser != null">quser = #{quser},</if>
            <if test="pcode != null">pcode = #{pcode},</if>
            <if test="pname != null">pname = #{pname},</if>
            <if test="pspec != null">pspec = #{pspec},</if>
            <if test="lot != null">lot = #{lot},</if>
            <if test="qcResult != null">qc_result = #{qcResult},</if>
            <if test="handleResult != null">handle_result = #{handleResult},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="isValid != null">is_valid = #{isValid},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate(),
            <if test="attribute1 != null">attribute1 = #{attribute1},</if>
            <if test="attribute2 != null">attribute2 = #{attribute2},</if>
            <if test="attribute3 != null">attribute3 = #{attribute3},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateQcProdCheckMainById" parameterType="String">
        update qc_prod_check_main set is_valid = '0' where id = #{id}
    </update>

    <update id="updateQcProdCheckMainByIds" parameterType="String">
        update qc_prod_check_main set is_valid = '0' where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <delete id="deleteQcProdCheckMainById" parameterType="String">
        delete from qc_prod_check_main where id = #{id}
    </delete>

    <delete id="deleteQcProdCheckMainByIds" parameterType="String">
        delete from qc_prod_check_main where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <delete id="deleteQcProdCheckDetailByMainIds" parameterType="String">
        delete from qc_prod_check_detail where main_id in 
        <foreach item="mainId" collection="array" open="(" separator="," close=")">
            #{mainId}
        </foreach>
    </delete>

    <delete id="deleteQcProdCheckDetailByMainId" parameterType="String">
        delete from qc_prod_check_detail where main_id = #{mainId}
    </delete>

    <insert id="batchQcProdCheckDetail">
        insert into qc_prod_check_detail( id, main_id,orderno, project_code, cproject, csop, cmethod, qc_result, create_by, create_time, update_by, update_time, attribute1, attribute2, attribute3) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.mainId},#{item.orderno}, #{item.projectCode}, #{item.cproject}, #{item.csop}, #{item.cmethod}, #{item.qcResult},  #{item.createBy}, sysdate(), #{item.updateBy}, sysdate(), #{item.attribute1}, #{item.attribute2}, #{item.attribute3})
        </foreach>
    </insert>

    <select id="selectQcResult" parameterType="String" resultType="String">
        select distinct qc_result  from qc_prod_check_main where qcode in (
        select wcode  from pp_wo_book_main  
        where orderno = #{dcode} and is_valid = '1')
        and is_valid  = '1'
    </select>

</mapper>