<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改生产异常记录')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-prounusual-edit" th:object="${ppProduceUnusual}">
            <input type="hidden" name="updateBy" th:value="${@permission.getPrincipalProperty('loginName')}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-2 control-label is-required">计划工单号：</label>
                <div class="col-sm-4">
                    <input name="wcode" th:field="*{wcode}" class="form-control" type="text" required>
                </div>
                <label class="col-sm-2 control-label is-required">异常发生时间：</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        <input name="utime" th:value="${#dates.format(ppProduceUnusual.utime, 'yyyy-MM-dd HH:mm:ss')}" class="form-control" placeholder="yyyy-MM-dd HH:mm:ss" type="text" required>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label is-required">异常处理人：</label>
                <div class="col-sm-4">
                    <input name="uuser" th:field="*{uuser}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label is-required">产品编号：</label>
                <div class="col-sm-4">
                    <input name="pcode" th:field="*{pcode}"  class="form-control" type="text" required>
                </div>
                <label class="col-sm-2 control-label is-required">产品名称：</label>
                <div class="col-sm-4">
                    <input name="pname" th:field="*{pname}"  class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label is-required">异常发生工序：</label>
                <div class="col-sm-4">
                    <input name="pwork" th:field="*{pwork}" class="form-control" type="text" required>
                </div>
                <label class="col-sm-2 control-label is-required">异常影响数量：</label>
                <div class="col-sm-4">
                    <input name="qty" th:field="*{qty}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label is-required">异常持续时间(小时)：</label>
                <div class="col-sm-4">
                    <input name="lastTime" th:field="*{lastTime}"  class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">问题项目描述：</label>
                <div class="col-sm-10">
                    <textarea name="problemDesc"  class="form-control">[[*{problemDesc}]]</textarea>
                </div>
            </div>
            <div class="form-group" style="display: none;">
                <label class="col-sm-2 control-label">备注：</label>
                <div class="col-sm-10">
                    <textarea name="remark" class="form-control">[[*{remark}]]</textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "pp/prounusual";
        $("#form-prounusual-edit").validate({
            onkeyup: false,
			rules:{
				lastTime:{
					number:true
                },
			},
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-prounusual-edit').serialize());
            }
        }

        $("input[name='utime']").datetimepicker({
            format: "yyyy-mm-dd hh:ii:ss",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>