<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('工单记录列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>订单号：</label>
                                <input type="text" name="orderno" th:value="${orderno}"/>
                            </li>
                            <!-- <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li> -->
                        </ul>
                    </div>
                </form>
            </div>
            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success single disabled" onclick="queryDetail()" shiro:hasPermission="qc:proccm:edit">
                    <i class="fa fa-edit"></i> 查询详情
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped" style="overflow:scroll;">
                <table id="bootstrap-table" style="min-width:1500px;"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var ppStateDatas = [[${@dict.getType('pp_state')}]];
        var prefix = ctx + "query";

        $(function() {
            var options = {
                url: prefix + "/ppwb/list",
                modalName: "工单记录",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'wcode',
                    title: '工单号'
                },
                {
                    field: 'orderno',
                    title: '订单号'
                },
                {
                    field: 'pcode',
                    title: '产品编号'
                },
                {
                    field: 'pname',
                    title: '产品名称'
                },
                {
                    field: 'pspec',
                    title: '产品规格'
                },
                {
                    field: 'qty',
                    title: '生产数量'
                },
                {
                    field: 'pstarTime',
                    title: '开工时间'
                },
                {
                    field: 'pendTime',
                    title: '完工时间'
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="queryDetail(\'' + row.wcode + '\',\'' + row.pcode + '\')"><i class="fa fa-edit"></i>查询详情</a> ');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        //查询详情
        function queryDetail(wcode,pcode){
            if($.common.isEmpty(wcode)){
                var row = $("#bootstrap-table").bootstrapTable('getSelections')[0];
                if ($.common.isEmpty(row)) {
                    $.modal.alertWarning("请至少选择一条记录");
                    return;
                }
                console.log("工单号:" + row.wcode +"产品编号:" + row.pcode);
                wcode = row.wcode;
                pcode = row.pcode;
            }
            var url = prefix + "/ppdetail/" + wcode+"/" + pcode;
            $.modal.openTab("查询详情",url);
        }
    </script>
</body>
</html>