<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改成品检验记录')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-prodcm-edit">
            <h4 class="form-header h4">检验信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-12 select-table table-striped">
                        <table id="bootstrap-table"></table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var qcResultDatas = [[${@dict.getType('pp_qc_result')}]];
        
        $(function() {
            var options = {
                modalName: "成品检验信息",
                data: [[${prodList}]],
                pagination: false,
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                sidePagination: "client",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '计划工单号ID',
                    visible: false
                },
                {
                    field: 'qcode',
                    title: '检验单号'
                },
                {
                    field: 'pcode',
                    title: '成品编号'
                },
                {
                    field: 'pname',
                    title: '成品名称'
                },
                {
                    field: 'lot',
                    title: '批次号'
                },
                {
                    field: 'quser',
                    title: '检验人员'
                },
                {
                    field: 'qtime',
                    title: '检验时间'
                },
                {
                    field: 'qcResult',
                    title: '检验结果',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(qcResultDatas, value);
                    }
                }]
            };
            $.table.init(options);
        });
        
    </script>
</body>
</html>