<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('查询标准列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>产品编号：</label>
                                <input type="text" name="pcode" th:value="*{pcode}"/>
                            </li>
                            <li>
                                <label style="width: 100px;">供应商名称：</label>
                                <input type="text" name="vendor" th:value="*{vendor}" />
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 select-table table-striped" style="overflow:scroll;">
                <p class="select-title">产品BOM信息</p>
                <table id="bootstrap-table1" style="min-width:1500px;"></table>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <p class="select-title">产品工艺技术标准</p>
                <table id="bootstrap-table2"></table>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <p class="select-title">产品4M变更单</p>
                <table id="bootstrap-table3"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "query";
        var attrDatas = [[${@dict.getType('bs_bom_attr')}]];
        var standardDatas = [[${@dict.getType('bs_craft_standard')}]];
        
        //产品bom信息
        $(function() {
            var options1 = {
                id:"bootstrap-table1",
                data: [[${bsBomMain.bsBomDetailList}]],
                pagination: false,
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                sidePagination: "client",
                modalName: "工单标准记录",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'index',
                    align: 'center',
                    title: "序号",
                    formatter: function (value, row, index) {
                    	var columnIndex = $.common.sprintf("<input class='form-control' type='hidden' name='ppWoBookBomList[%s].orderno' value='%s'><input type='hidden' name='index' value='%s'>", index,$.table.serialNumber(index),$.table.serialNumber(index));
                    	return columnIndex + $.table.serialNumber(index);
                    }
                },
                {
                    field: 'mcode',
                    align: 'center',
                    title: '部件编号',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a onclick="delivery(\'' + row.mcode + '\')">'+row.mcode+'</a> ')
                        return actions.join('');
                    }
                },
                {
                    field: 'mname',
                    align: 'center',
                    title: '部件名称'
                },
                {
                    field: 'mspec',
                    align: 'center',
                    title: '产品规格'
                },
                {
                    field: 'attribute',
                    align: 'center',
                    title: '属性',
                    width: '100px',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(attrDatas, value);
                    }
                },
                {
                    field: 'onsize',
                    align: 'center',
                    title: '上机尺寸'
                },
                {
                    field: 'moqieqty',
                    align: 'center',
                    title: '模切拼数'
                },
                {
                    field: 'qiezhiqty',
                    align: 'center',
                    title: '切纸拼数'
                },
                {
                    field: 'qty',
                    align: 'center',
                    title: '用量'
                },
                {
                    field: 'unit',
                    align: 'center',
                    title: '单位'
                },
                {
                    field: 'unratio',
                    align: 'center',
                    title: '损耗率'
                },
                {
                    field: 'ruter',
                    align: 'center',
                    title: '工艺路线'
                },
                {
                    field: 'remark',
                    align: 'center',
                    title: '备注'
                }]
            };
            $.table.init(options1);
        });
        //产品工艺技术标准
        $(function() {
            var options2 = {
                id:"bootstrap-table2",
                data: [[${bsCraftSopMain.bsCraftSopDetailList}]],
                pagination: false,
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                sidePagination: "client",
                modalName: "产品工艺技术标准",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'index',
                    align: 'center',
                    title: "序号",
                    formatter: function (value, row, index) {
                    	var columnIndex = $.common.sprintf("<input type='hidden' name='index' value='%s'>", $.table.serialNumber(index));
                    	return columnIndex + $.table.serialNumber(index);
                    }
                },
                {
                    field: 'ptype',
                    align: 'center',
                    title: '检验类型',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(standardDatas, value);
                    }
				},
                {
                    field: 'fileTitle',
                    align: 'center',
                    title: '文件标题'
				},
                {
                    field: 'fileName',
                    align: 'center',
                    title: '文件名称',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push($.common.sprintf("<input class='form-control' type='hidden' name='bsCraftSopDetailList[%s].fileName' value='%s'>", index, value));
                        actions.push($.common.sprintf("<input class='form-control' type='hidden' name='bsCraftSopDetailList[%s].fileUrl' value='%s'>", index, row.fileUrl));
                        actions.push($.common.sprintf("<a id='a%s' href='%s' target='_blank'>%s</a>",index,row.fileUrl,value));                        
                        return actions.join('');
                    }
                },
                {
                    field: 'uploadUser',
                    align: 'center',
                    title: '上传人'
				},
                {
                    field: 'uploadTime',
                    align: 'center',
                    title: '上传时间'
                }]
            };
            $.table.init(options2);
        });
        //4M变更单
        $(function() {
            var options3 = {
                id:"bootstrap-table3",
                data: [[${bsMcnMain.bsMcnDetailList}]],
                pagination: false,
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                sidePagination: "client",
                modalName: "4M变更单",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'index',
                    align: 'center',
                    title: "序号",
                    formatter: function (value, row, index) {
                    	var columnIndex = $.common.sprintf("<input type='hidden' name='index' value='%s'>", $.table.serialNumber(index));
                    	return columnIndex + $.table.serialNumber(index);
                    }
                },
                {
                    field: 'id',
                    align: 'center',
                    title: '主键id',
                    visible:false,
				},
                {
                    field: 'mcode',
                    align: 'center',
                    title: '变更单号'
				},
                {
                    field: 'mdate',
                    align: 'center',
                    title: '变更日期'
				},
                {
                    field: 'mcontent',
                    align: 'center',
                    title: '变更内容'
				},
                {
                    field: 'attachment',
                    align: 'center',
                    title: '附件名称',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push($.common.sprintf("<input class='form-control' type='hidden' name='bsMcnDetailList[%s].attachment' value='%s'>", index, value));
                        actions.push($.common.sprintf("<input class='form-control' type='hidden' name='bsMcnDetailList[%s].fileUrl' value='%s'>", index, row.fileUrl));
                        actions.push($.common.sprintf("<a id='a%s' href='%s' target='_blank'>%s</a>",index,row.fileUrl,value));                        
                        return actions.join('');
                    }
				},
                {
                    field: 'uploadUser',
                    align: 'center',
                    title: '上传人'
				},
                {
                    field: 'uploadTime',
                    align: 'center',
                    title: '上传时间'
				}]
            };
            $.table.init(options3);
        });
        //查看库存和标准信息
        function delivery(pcode){
            var url = prefix + '/delivery/'+pcode;
            var options = {
                title: '查看库存和标准信息',
                url: url,
                btn: ['关闭'],
                skin: 'layui-layer-gray',
                yes: function (index, layero) {
                    layer.close(index);
                }
             };
             $.modal.openOptions(options);
        }
    </script>
</body>
</html>