<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('上传附件')" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-mcn-add">
          <input name="rowIndex" id="rowIndex" th:value="${rowIndex}" class="form-control" type="hidden">
          <input name="fileName" id="fileName"  class="form-control" type="hidden">
          <input name="fileTitle" id="fileTitle"  class="form-control" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">上传附件：</label>
                <div>
                    <input type="hidden" name="fileinput">
                    <div class="file-loading">
                        <input class="form-control file-upload" id="fileinput" name="file" type="file">
                    </div>
                </div>
            </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-fileinput-js" />
    <script type="text/javascript">
        
       $(".file-upload").fileinput({
            uploadUrl: ctx + 'common/upload',
            maxFileCount: 1,
            showUpload: false, //是否显示上传按钮
            showCaption: true,//是否显示标题
            autoReplace: true,
            allowedFileExtensions:[ 'jpg', 'png', 'gif' ]
        }).on('filebatchselected', function (event, data, id, index) {
            $("#fileinput").fileinput("upload");
        }).on('fileuploaded', function (event, data, previewId, index) {
            $("input[name='fileName']").val(data.response.url);
            $("input[name='fileTitle']").val(data.response.originFileName);           
        }).on('fileremoved', function (event, id, index) {
            $("input[name='fileName']").val('');
            $("input[name='fileTitle']").val('');  
        });
    </script>
</body>
</html>