<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('bom物料清单列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li style="display: none;">
                                <label>上级物料类型：</label>
                                <input type="text" name="idParent"/>
                            </li>
                            <li>
                                <label>部件编号：</label>
                                <input type="text" name="mcode"/>
                            </li>
                            <li>
                                <label>部件名称：</label>
                                <input type="text" name="mname"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.treeTable.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="bs:bom:add">
                    <i class="fa fa-plus"></i> 新增
                </a>
                <a class="btn btn-primary" onclick="$.operate.edit()" shiro:hasPermission="bs:bom:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-info" id="expandAllBtn">
                    <i class="fa fa-exchange"></i> 展开/折叠
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-tree-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var addFlag = [[${@permission.hasPermi('bs:bom:add')}]];
        var editFlag = [[${@permission.hasPermi('bs:bom:edit')}]];
        var removeFlag = [[${@permission.hasPermi('bs:bom:remove')}]];
        var attributeDatas = [[${@dict.getType('bs_bom_attr')}]];
        var isValidDatas = [[${@dict.getType('sys_is_valid')}]];
        var prefix = ctx + "bs/bom";

        $(function() {
            var options = {
                code: "id",
                parentCode: "idParent",
                expandColumn: "3",
                uniqueId: "id",
                url: prefix + "/list",
                createUrl: prefix + "/add/{id}",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove/{id}",
                exportUrl: prefix + "/export",
                modalName: "bom物料清单",
                columns: [{
                    field: 'selectItem',
                    radio: true
                },
                {
                    field: 'idParent',
                    title: '上级物料类型',
                    align: 'left',
                    visible: false
                },
                {
                    field: 'mcode',
                    title: '部件编号',
                    align: 'left',
                    visible: false
                },
                {
                    field: 'mname',
                    title: '部件名称',
                    align: 'left'
                },
                {
                    field: 'spec',
                    title: '部件规格',
                    align: 'left'
                },
                {
                    field: 'attribute',
                    title: '部件属性(生产/采购)',
                    align: 'left',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(attributeDatas, value);
                    }
                },
                {
                    field: 'msize',
                    title: '上机尺寸',
                    align: 'left'
                },
                {
                    field: 'dnumber',
                    title: '模切拼数',
                    align: 'left'
                },
                {
                    field: 'pnumber',
                    title: '切纸拼数',
                    align: 'left'
                },
                {
                    field: 'qty',
                    title: '用量',
                    align: 'left'
                },
                {
                    field: 'remark',
                    title: '备注',
                    align: 'left'
                },
                {
                    field: 'isValid',
                    title: '有效否 0失效1有效',
                    align: 'left',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(isValidDatas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    align: 'left',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-info  btn-xs ' + addFlag + '" href="javascript:void(0)" onclick="$.operate.add(\'' + row.id + '\')"><i class="fa fa-plus"></i>新增</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.treeTable.init(options);
        });
    </script>
</body>
</html>