<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改工单记录')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-wbmain-edit" th:object="${ppWoBookMain}">
            <input type="hidden" name="updateBy" th:value="${@permission.getPrincipalProperty('loginName')}">
            <h4 class="form-header h4">工单记录信息</h4>
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-2 control-label is-required">工单号：</label>
                <div class="col-sm-4">
                    <input name="wcode" th:field="*{wcode}" class="form-control" type="text" required>
                </div>
                <label class="col-sm-2 control-label is-required">订单号：</label>
                <div class="col-sm-4">
                    <input name="orderno" th:field="*{orderno}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label is-required">产品编号：</label>
                <div class="col-sm-4">
                    <input name="pcode" th:field="*{pcode}" class="form-control" type="text" required>
                </div>
                <label class="col-sm-2 control-label">产品名称：</label>
                <div class="col-sm-4">
                    <input name="pname" th:field="*{pname}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label is-required">产品规格：</label>
                <div class="col-sm-4">
                    <input name="pspec" th:field="*{pspec}" class="form-control" type="text" required>
                </div>
                <label class="col-sm-2 control-label is-required">生产数量：</label>
                <div class="col-sm-4">
                    <input name="qty" th:field="*{qty}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label is-required">开工时间：</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        <input name="pstarTime" th:value="${#dates.format(ppWoBookMain.pstarTime, 'yyyy-MM-dd HH:mm:ss')}" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <label class="col-sm-2 control-label is-required">完工时间：</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        <input name="pendTime" th:value="${#dates.format(ppWoBookMain.pendTime, 'yyyy-MM-dd HH:mm:ss')}" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label is-required">备注：</label>
                <div class="col-sm-10">
                    <textarea name="remark" class="form-control" required>[[*{remark}]]</textarea>
                </div>
            </div>
            <h4 class="form-header h4">工单BOM信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-white btn-sm" onclick="addColumn('0','')"><i class="fa fa-plus"> 增加</i></button>
                    <button type="button" class="btn btn-white btn-sm" onclick="delColumn('0')"><i class="fa fa-minus"> 删除</i></button>
                    <button type="button" class="btn btn-info btn-sm" onclick="custImportExcel('0','importBTpl')"><i class="fa fa-upload"></i> 导入</button>
                    <div class="col-sm-12 select-table table-striped" style="overflow:scroll;">
                        <table id="bootstrap-table1" style="min-width:2000px;"></table>
                    </div>
                </div>
            </div>
            
            <h4 class="form-header h4">工单制造信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-white btn-sm" onclick="addColumn('1','')"><i class="fa fa-plus"> 增加</i></button>
                    <button type="button" class="btn btn-white btn-sm" onclick="delColumn('1')"><i class="fa fa-minus"> 删除</i></button>
                    <button type="button" class="btn btn-info btn-sm" onclick="custImportExcel('1','importMTpl')"><i class="fa fa-upload"></i> 导入</button>
                    <div class="col-sm-12 select-table table-striped" style="overflow:scroll;">
                        <table id="bootstrap-table2" style="min-width:2000px;"></table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:src="@{/saas/js/wb_main.js}"></script>
    <script th:inline="javascript">
        var prefix = ctx + "pp/wbmain";
        var attrDatas = [[${@dict.getType('bs_bom_attr')}]];
        var isValidDatas = [[${@dict.getType('sys_is_valid')}]];
        $("#form-wbmain-edit").validate({
            onkeyup: false,
			rules:{
				qty:{
					number:true
                },
			},
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-wbmain-edit').serialize());
            }
        }

        $("input[name='pstarTime']").datetimepicker({
            format: "yyyy-mm-dd hh:ii:ss",
            minView: "month",
            autoclose: true
        });

        $("input[name='pendTime']").datetimepicker({
            format: "yyyy-mm-dd hh:ii:ss",
            minView: "month",
            autoclose: true
        });

        $(function() {
            var options1 = {
                id:"bootstrap-table1",
                data: [[${ppWoBookMain.ppWoBookBomList}]],
                pagination: false,
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                rowStyle: setRowStyle,
                sidePagination: "client",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'index',
                    align: 'center',
                    title: "序号",
                    formatter: function (value, row, index) {
                    	var columnIndex = $.common.sprintf("<input class='form-control' type='hidden' name='ppWoBookBomList[%s].orderno' value='%s'><input type='hidden' name='index' value='%s'>", index,$.table.serialNumber(index),$.table.serialNumber(index));
                    	return columnIndex + $.table.serialNumber(index);
                    }
                },
                {
                    field: 'mcode',
                    align: 'center',
                    title: '部件编号',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookBomList[%s].mcode' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'mname',
                    align: 'center',
                    title: '部件名称',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookBomList[%s].mname' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'mspec',
                    align: 'center',
                    title: '产品规格',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookBomList[%s].mspec' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'attribute',
                    align: 'center',
                    title: '属性',
                    width: '100px',
                    formatter: function(value, row, index) {
                        var name = $.common.sprintf("ppWoBookBomList[%s].attribute", index);
                        return $.common.dictToSelect(attrDatas, value, name);
                    }
                },
                {
                    field: 'onsize',
                    align: 'center',
                    title: '上机尺寸',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookBomList[%s].onsize' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'moqieqty',
                    align: 'center',
                    title: '模切拼数',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookBomList[%s].moqieqty' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'qiezhiqty',
                    align: 'center',
                    title: '切纸拼数',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookBomList[%s].qiezhiqty' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'qty',
                    align: 'center',
                    title: '用量',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookBomList[%s].qty' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'unit',
                    align: 'center',
                    title: '单位',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookBomList[%s].unit' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'unratio',
                    align: 'center',
                    title: '损耗率',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookBomList[%s].unratio' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'ruter',
                    align: 'center',
                    title: '工艺路线',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookBomList[%s].ruter' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'remark',
                    align: 'center',
                    title: '备注',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookBomList[%s].remark' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'isValid',
                    align: 'center',
                    title: '有效否 0失效1有效',
                    visible: false,
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookBomList[%s].isValid' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'createBy',
                    align: 'center',
                    title: '创建人',
                    visible: false,
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookDetailList[%s].createBy' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'createTime',
                    align: 'center',
                    title: '创建时间 默认为当前时间',
                    visible: false,
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookDetailList[%s].createTime' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'updateBy',
                    align: 'center',
                    title: '修改人',
                    visible: false,
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookDetailList[%s].updateBy' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'updateTime',
                    align: 'center',
                    title: '修改时间',
                    visible: false,
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookDetailList[%s].updateTime' value='%s'>", index, value);
                        return html;
                    }
                }]
            };
            $.table.init(options1);
        });

        $(function() {
            var options2 = {
                id:"bootstrap-table2",
                data: [[${ppWoBookMain.ppWoBookDetailList}]],
                pagination: false,
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                sidePagination: "client",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'index',
                    align: 'center',
                    title: "序号",
                    formatter: function (value, row, index) {
                    	var columnIndex = $.common.sprintf("<input type='hidden' name='index' value='%s'>", $.table.serialNumber(index));
                    	return columnIndex + $.table.serialNumber(index);
                    }
                },
                {
                    field: 'soncode',
                    align: 'center',
                    title: '子工单号',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookDetailList[%s].soncode' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'mcode',
                    align: 'center',
                    title: '产品编号',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookDetailList[%s].mcode' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'mname',
                    align: 'center',
                    title: '产品名称',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookDetailList[%s].mname' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'mspec',
                    align: 'center',
                    title: '产品规格',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookDetailList[%s].mspec' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'stime',
                    align: 'center',
                    title: '开工时间',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookDetailList[%s].stime' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'etime',
                    align: 'center',
                    title: '完工时间',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookDetailList[%s].etime' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'cwork',
                    align: 'center',
                    title: '生产工序',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookDetailList[%s].cwork' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'cstation',
                    align: 'center',
                    title: '生产机台',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookDetailList[%s].cstation' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'planqty',
                    align: 'center',
                    title: '计划数量',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookDetailList[%s].planqty' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'inputqty',
                    align: 'center',
                    title: '投入数量',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookDetailList[%s].inputqty' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'outputqty',
                    align: 'center',
                    title: '产出数量',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookDetailList[%s].outputqty' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'stdtime',
                    align: 'center',
                    title: '标准耗时',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookDetailList[%s].stdtime' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'stdrate',
                    align: 'center',
                    title: '标准成品率%',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookDetailList[%s].stdrate' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'acttime',
                    align: 'center',
                    title: '实际耗时',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookDetailList[%s].acttime' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'actrate',
                    align: 'center',
                    title: '实际成品率%',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookDetailList[%s].actrate' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'remark',
                    align: 'center',
                    title: '备注',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookDetailList[%s].remark' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'isValid',
                    align: 'center',
                    title: '有效否 0失效1有效',
                    visible: false,
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookDetailList[%s].isValid' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'createBy',
                    align: 'center',
                    title: '创建人',
                    visible: false,
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookDetailList[%s].createBy' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'createTime',
                    align: 'center',
                    title: '创建时间 默认为当前时间',
                    visible: false,
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookDetailList[%s].createTime' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'updateBy',
                    align: 'center',
                    title: '修改人',
                    visible: false,
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookDetailList[%s].updateBy' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'updateTime',
                    align: 'center',
                    title: '修改时间',
                    visible: false,
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='ppWoBookDetailList[%s].updateTime' value='%s'>", index, value);
                        return html;
                    }
                }]
            };
            $.table.init(options2);
        });

        
    </script>
</body>
<script id="importMTpl" type="text/template">
<form enctype="multipart/form-data" class="mt20 mb10">
	<div class="col-xs-offset-1">
		<input type="file" id="file" name="file"/>
		<div class="mt10 pt5">
			下载模板:  &nbsp;	<a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
		</div>
		<font color="red" class="pull-left mt10">
			提示：仅允许导入“xls”或“xlsx”格式文件！
		</font>
	</div>
</form>
</script>
<script id="importBTpl" type="text/template">
<form enctype="multipart/form-data" class="mt20 mb10">
	<div class="col-xs-offset-1">
		<input type="file" id="file" name="file"/>
		<div class="mt10 pt5">
			下载模板:  &nbsp;	<a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
		</div>
		<font color="red" class="pull-left mt10">
			提示：仅允许导入“xls”或“xlsx”格式文件！
		</font>
	</div>
</form>
</script>
</html>