<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saas.pssc.mapper.BsCraftSopDetailMapper">
    
    <resultMap type="BsCraftSopDetail" id="BsCraftSopDetailResult">
        <result property="id"    column="id"    />
        <result property="mainId"    column="main_id"    />
        <result property="ptype"    column="ptype"    />
        <result property="fileTitle"    column="file_title"    />
        <result property="fileName"    column="file_name"    />
        <result property="fileUrl"    column="file_url"    />
        <result property="uploadUser"    column="upload_user"    />
        <result property="uploadTime"    column="upload_time"    />
        <result property="isValid"    column="is_valid"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="attribute1"    column="attribute1"    />
        <result property="attribute2"    column="attribute2"    />
        <result property="attribute3"    column="attribute3"    />
    </resultMap>

    <sql id="selectBsCraftSopDetailVo">
        select id, main_id, ptype, file_title, file_name,file_url, upload_user, upload_time, is_valid, create_by, create_time, update_by, update_time, attribute1, attribute2, attribute3 from bs_craft_sop_detail
    </sql>

    <select id="selectBsCraftSopDetailList" parameterType="BsCraftSopDetail" resultMap="BsCraftSopDetailResult">
        <include refid="selectBsCraftSopDetailVo"/>
        <where>  
            <if test="mainId != null "> and main_id = #{mainId}</if>
            <if test="ptype != null  and ptype != ''"> and ptype = #{ptype}</if>
            <if test="fileTitle != null  and fileTitle != ''"> and file_title = #{fileTitle}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="uploadUser != null  and uploadUser != ''"> and upload_user = #{uploadUser}</if>
            <if test="uploadTime != null "> and upload_time = #{uploadTime}</if>
            and is_valid = '1'  ${params.dataScope}
            <if test="attribute1 != null  and attribute1 != ''"> and attribute1 = #{attribute1}</if>
            <if test="attribute2 != null  and attribute2 != ''"> and attribute2 = #{attribute2}</if>
            <if test="attribute3 != null  and attribute3 != ''"> and attribute3 = #{attribute3}</if>
        </where>
    </select>
    
    <select id="selectBsCraftSopDetailById" parameterType="String" resultMap="BsCraftSopDetailResult">
        <include refid="selectBsCraftSopDetailVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBsCraftSopDetail" parameterType="BsCraftSopDetail" useGeneratedKeys="true" keyProperty="id">
        insert into bs_craft_sop_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mainId != null">main_id,</if>
            <if test="ptype != null">ptype,</if>
            <if test="fileTitle != null and fileTitle != ''">file_title,</if>
            <if test="fileName != null">file_name,</if>
            <if test="fileUrl != null">file_url,</if>
            <if test="uploadUser != null and uploadUser != ''">upload_user,</if>
            <if test="uploadTime != null">upload_time,</if>
            <if test="createBy != null">create_by,</if>
            create_time,
            <if test="updateBy != null">update_by,</if>
            update_time,
            <if test="attribute1 != null">attribute1,</if>
            <if test="attribute2 != null">attribute2,</if>
            <if test="attribute3 != null">attribute3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mainId != null">#{mainId},</if>
            <if test="ptype != null">#{ptype},</if>
            <if test="fileTitle != null and fileTitle != ''">#{fileTitle},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="fileUrl != null">#{fileUrl},</if>
            <if test="uploadUser != null and uploadUser != ''">#{uploadUser},</if>
            <if test="uploadTime != null">#{uploadTime},</if>            
            <if test="createBy != null">#{createBy},</if>
            sysdate(),
            <if test="updateBy != null">#{updateBy},</if>
            sysdate(),
            <if test="attribute1 != null">#{attribute1},</if>
            <if test="attribute2 != null">#{attribute2},</if>
            <if test="attribute3 != null">#{attribute3},</if>
         </trim>
    </insert>

    <update id="updateBsCraftSopDetail" parameterType="BsCraftSopDetail">
        update bs_craft_sop_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="mainId != null">main_id = #{mainId},</if>
            <if test="ptype != null">ptype = #{ptype},</if>
            <if test="fileTitle != null and fileTitle != ''">file_title = #{fileTitle},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="fileUrl != null">file_url = #{fileUrl},</if>
            <if test="uploadUser != null and uploadUser != ''">upload_user = #{uploadUser},</if>
            <if test="uploadTime != null">upload_time = #{uploadTime},</if>
            <if test="isValid != null">is_valid = #{isValid},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate(),
            <if test="attribute1 != null">attribute1 = #{attribute1},</if>
            <if test="attribute2 != null">attribute2 = #{attribute2},</if>
            <if test="attribute3 != null">attribute3 = #{attribute3},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBsCraftSopDetailById" parameterType="String">
        delete from bs_craft_sop_detail where id = #{id}
    </delete>

    <delete id="deleteBsCraftSopDetailByIds" parameterType="String">
        delete from bs_craft_sop_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>