<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saas.pssc.mapper.BsMatSopDetailMapper">
    
    <resultMap type="BsMatSopDetail" id="BsMatSopDetailResult">
        <result property="id"    column="id"    />
        <result property="mainId"    column="main_id"    />
        <result property="orderno"    column="orderno"    />
        <result property="pcode"    column="pcode"    />
        <result property="name"    column="name"    />
        <result property="standard"    column="standard"    />
        <result property="method"    column="method"    />
        <result property="remark"    column="remark"    />
        <result property="isValid"    column="is_valid"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="attribute1"    column="attribute1"    />
        <result property="attribute2"    column="attribute2"    />
        <result property="attribute3"    column="attribute3"    />
    </resultMap>

    <sql id="selectBsMatSopDetailVo">
        select id, main_id, orderno, pcode, name, standard, method, remark, is_valid, create_by, create_time, update_by, update_time, attribute1, attribute2, attribute3 from bs_mat_sop_detail
    </sql>

    <select id="selectBsMatSopDetailList" parameterType="BsMatSopDetail" resultMap="BsMatSopDetailResult">
        <include refid="selectBsMatSopDetailVo"/>
        <where>  
            <if test="mainId != null  and mainId != ''"> and main_id = #{mainId}</if>
            <if test="orderno != null "> and orderno = #{orderno}</if>
            <if test="pcode != null  and pcode != ''"> and pcode = #{pcode}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="standard != null  and standard != ''"> and standard = #{standard}</if>
            <if test="method != null  and method != ''"> and method = #{method}</if>
        </where>
    </select>
    
    <select id="selectBsMatSopDetailById" parameterType="String" resultMap="BsMatSopDetailResult">
        <include refid="selectBsMatSopDetailVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBsMatSopDetail" parameterType="BsMatSopDetail">
        insert into bs_mat_sop_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="mainId != null and mainId != ''">main_id,</if>
            <if test="orderno != null">orderno,</if>
            <if test="pcode != null and pcode != ''">pcode,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="standard != null and standard != ''">standard,</if>
            <if test="method != null and method != ''">method,</if>
            <if test="remark != null">remark,</if>
            <if test="isValid != null">is_valid,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time,
            <if test="updateBy != null">update_by,</if>
            update_time,
            <if test="attribute1 != null">attribute1,</if>
            <if test="attribute2 != null">attribute2,</if>
            <if test="attribute3 != null">attribute3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="mainId != null and mainId != ''">#{mainId},</if>
            <if test="orderno != null">#{orderno},</if>
            <if test="pcode != null and pcode != ''">#{pcode},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="standard != null and standard != ''">#{standard},</if>
            <if test="method != null and method != ''">#{method},</if>
            <if test="remark != null">#{remark},</if>
            <if test="isValid != null">#{isValid},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate(),
            <if test="updateBy != null">#{updateBy},</if>
            sysdate(),
            <if test="attribute1 != null">#{attribute1},</if>
            <if test="attribute2 != null">#{attribute2},</if>
            <if test="attribute3 != null">#{attribute3},</if>
         </trim>
    </insert>

    <update id="updateBsMatSopDetail" parameterType="BsMatSopDetail">
        update bs_mat_sop_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="mainId != null and mainId != ''">main_id = #{mainId},</if>
            <if test="orderno != null">orderno = #{orderno},</if>
            <if test="pcode != null and pcode != ''">pcode = #{pcode},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="standard != null and standard != ''">standard = #{standard},</if>
            <if test="method != null and method != ''">method = #{method},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="isValid != null">is_valid = #{isValid},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="attribute1 != null">attribute1 = #{attribute1},</if>
            <if test="attribute2 != null">attribute2 = #{attribute2},</if>
            <if test="attribute3 != null">attribute3 = #{attribute3},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBsMatSopDetailById" parameterType="String">
        delete from bs_mat_sop_detail where id = #{id}
    </delete>

    <delete id="deleteBsMatSopDetailByIds" parameterType="String">
        delete from bs_mat_sop_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectBsMatSopDetailByPcode" parameterType="String" resultMap="BsMatSopDetailResult">
        <include refid="selectBsMatSopDetailVo"/>
        where main_id in (select id from bs_mat_sop_main where pcode = #{pcode} and is_valid = '1')
        order by orderno
    </select>
</mapper>