<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saas.pssc.mapper.BsPqcDetailMapper">
    
    <resultMap type="BsPqcDetail" id="BsPqcDetailResult">
        <result property="id"    column="Id"    />
        <result property="mainId"    column="main_id"    />
        <result property="ptype"    column="ptype"    />
        <result property="pcode"    column="pcode"    />
        <result property="name"    column="name"    />
        <result property="standard"    column="standard"    />
        <result property="method"    column="method"    />
        <result property="remark"    column="remark"    />
        <result property="isValid"    column="is_valid"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="attribute1"    column="attribute1"    />
        <result property="attribute2"    column="attribute2"    />
        <result property="attribute3"    column="attribute3"    />
    </resultMap>

    <sql id="selectBsPqcDetailVo">
        select Id, main_id, ptype, pcode, name, standard, method, remark, is_valid, create_by, create_time, update_by, update_time, attribute1, attribute2, attribute3 from bs_pqc_detail
    </sql>

    <select id="selectBsPqcDetailList" parameterType="BsPqcDetail" resultMap="BsPqcDetailResult">
        <include refid="selectBsPqcDetailVo"/>
        <where>  
            <if test="mainId != null "> and main_id = #{mainId}</if>
            <if test="ptype != null  and ptype != ''"> and ptype = #{ptype}</if>
            <if test="pcode != null  and pcode != ''"> and pcode = #{pcode}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="standard != null  and standard != ''"> and standard = #{standard}</if>
            <if test="method != null  and method != ''"> and method = #{method}</if>
            and is_valid = 1
            <if test="attribute1 != null  and attribute1 != ''"> and attribute1 = #{attribute1}</if>
            <if test="attribute2 != null  and attribute2 != ''"> and attribute2 = #{attribute2}</if>
            <if test="attribute3 != null  and attribute3 != ''"> and attribute3 = #{attribute3}</if>
        </where>
    </select>
    
    <select id="selectBsPqcDetailById" parameterType="Long" resultMap="BsPqcDetailResult">
        <include refid="selectBsPqcDetailVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBsPqcDetail" parameterType="BsPqcDetail" useGeneratedKeys="true" keyProperty="id">
        insert into bs_pqc_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mainId != null">main_id,</if>
            <if test="ptype != null">ptype,</if>
            <if test="pcode != null and pcode != ''">pcode,</if>
            <if test="name != null">name,</if>
            <if test="standard != null">standard,</if>
            <if test="method != null">method,</if>
            <if test="remark != null">remark,</if>
            <if test="isValid != null">is_valid,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time,
            <if test="updateBy != null">update_by,</if>
            update_time,
            <if test="attribute1 != null">attribute1,</if>
            <if test="attribute2 != null">attribute2,</if>
            <if test="attribute3 != null">attribute3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mainId != null">#{mainId},</if>
            <if test="ptype != null">#{ptype},</if>
            <if test="pcode != null and pcode != ''">#{pcode},</if>
            <if test="name != null">#{name},</if>
            <if test="standard != null">#{standard},</if>
            <if test="method != null">#{method},</if>
            <if test="remark != null">#{remark},</if>
            <if test="isValid != null">#{isValid},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate(),
            <if test="updateBy != null">#{updateBy},</if>
            sysdate(),
            <if test="attribute1 != null">#{attribute1},</if>
            <if test="attribute2 != null">#{attribute2},</if>
            <if test="attribute3 != null">#{attribute3},</if>
         </trim>
    </insert>

    <update id="updateBsPqcDetail" parameterType="BsPqcDetail">
        update bs_pqc_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="mainId != null">main_id = #{mainId},</if>
            <if test="ptype != null">ptype = #{ptype},</if>
            <if test="pcode != null and pcode != ''">pcode = #{pcode},</if>
            <if test="name != null">name = #{name},</if>
            <if test="standard != null">standard = #{standard},</if>
            <if test="method != null">method = #{method},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="isValid != null">is_valid = #{isValid},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            sysdate(),
            <if test="attribute1 != null">attribute1 = #{attribute1},</if>
            <if test="attribute2 != null">attribute2 = #{attribute2},</if>
            <if test="attribute3 != null">attribute3 = #{attribute3},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBsPqcDetailById" parameterType="Long">
        delete from bs_pqc_detail where id = #{id}
    </delete>

    <delete id="deleteBsPqcDetailByIds" parameterType="String">
        delete from bs_pqc_detail where Id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>