<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saas.pssc.mapper.BsProcLossSopMapper">
    
    <resultMap type="BsProcLossSop" id="BsProcLossSopResult">
        <result property="id"    column="Id"    />
        <result property="pcode"    column="pcode"    />
        <result property="name"    column="name"    />
        <result property="capacity"    column="capacity"    />
        <result property="convertTime"    column="convert_time"    />
        <result property="lossRate"    column="loss_rate"    />
        <result property="remark"    column="remark"    />
        <result property="isValid"    column="is_valid"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="attribute1"    column="attribute1"    />
        <result property="attribute2"    column="attribute2"    />
        <result property="attribute3"    column="attribute3"    />
    </resultMap>

    <sql id="selectBsProcLossSopVo">
        select Id, pcode, name, capacity, convert_time, loss_rate, p.remark, p.is_valid, p.create_by,p.create_time, su.user_name update_by, p.update_time, attribute1, attribute2, attribute3 
        from bs_proc_loss_sop p left join sys_user su on p.update_by = su.login_name     
    </sql>

    <select id="selectBsProcLossSopList" parameterType="BsProcLossSop" resultMap="BsProcLossSopResult">
        <include refid="selectBsProcLossSopVo"/>
        <where>  
            <if test="pcode != null  and pcode != ''"> and pcode = #{pcode}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="capacity != null "> and capacity = #{capacity}</if>
            <if test="convertTime != null "> and convert_time = #{convertTime}</if>
            <if test="lossRate != null "> and loss_rate = #{lossRate}</if>
            and is_valid = 1
            <if test="attribute1 != null  and attribute1 != ''"> and attribute1 = #{attribute1}</if>
            <if test="attribute2 != null  and attribute2 != ''"> and attribute2 = #{attribute2}</if>
            <if test="attribute3 != null  and attribute3 != ''"> and attribute3 = #{attribute3}</if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
            order by id desc
        </where>
    </select>
    
    <select id="selectBsProcLossSopById" parameterType="Long" resultMap="BsProcLossSopResult">
        <include refid="selectBsProcLossSopVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBsProcLossSop" parameterType="BsProcLossSop" useGeneratedKeys="true" keyProperty="id">
        insert into bs_proc_loss_sop
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pcode != null and pcode != ''">pcode,</if>
            <if test="name != null">name,</if>
            <if test="capacity != null">capacity,</if>
            <if test="convertTime != null">convert_time,</if>
            <if test="lossRate != null">loss_rate,</if>
            <if test="remark != null">remark,</if>
            <if test="isValid != null">is_valid,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time,
            <if test="updateBy != null">update_by,</if>
            update_time,
            <if test="attribute1 != null">attribute1,</if>
            <if test="attribute2 != null">attribute2,</if>
            <if test="attribute3 != null">attribute3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pcode != null and pcode != ''">#{pcode},</if>
            <if test="name != null">#{name},</if>
            <if test="capacity != null">#{capacity},</if>
            <if test="convertTime != null">#{convertTime},</if>
            <if test="lossRate != null">#{lossRate},</if>
            <if test="remark != null">#{remark},</if>
            <if test="isValid != null">#{isValid},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate(),
            <if test="updateBy != null">#{updateBy},</if>
            sysdate(),
            <if test="attribute1 != null">#{attribute1},</if>
            <if test="attribute2 != null">#{attribute2},</if>
            <if test="attribute3 != null">#{attribute3},</if>
         </trim>
    </insert>

    <update id="updateBsProcLossSop" parameterType="BsProcLossSop">
        update bs_proc_loss_sop
        <trim prefix="SET" suffixOverrides=",">
            <if test="pcode != null and pcode != ''">pcode = #{pcode},</if>
            <if test="name != null">name = #{name},</if>
            <if test="capacity != null">capacity = #{capacity},</if>
            <if test="convertTime != null">convert_time = #{convertTime},</if>
            <if test="lossRate != null">loss_rate = #{lossRate},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="isValid != null">is_valid = #{isValid},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate(),
            <if test="attribute1 != null">attribute1 = #{attribute1},</if>
            <if test="attribute2 != null">attribute2 = #{attribute2},</if>
            <if test="attribute3 != null">attribute3 = #{attribute3},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateBsProcLossSopById" parameterType="Long">
        update bs_proc_loss_sop set is_valid = 0 where id = #{id}
    </update>

    <delete id="deleteBsProcLossSopById" parameterType="Long">
        delete from bs_proc_loss_sop where id = #{id}
    </delete>

    <update id="updateBsProcLossSopByIds" parameterType="String">
        update bs_proc_loss_sop set is_valid = 0 where Id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <delete id="deleteBsProcLossSopByIds" parameterType="String">
        delete from bs_proc_loss_sop where Id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>