<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saas.pssc.mapper.BsProSopDetailMapper">
    
    <resultMap type="BsProSopDetail" id="BsProSopDetailResult">
        <result property="id"    column="id"    />
        <result property="mainId"    column="main_id"    />
        <result property="orderno"    column="orderno"    />
        <result property="pcode"    column="pcode"    />
        <result property="name"    column="name"    />
        <result property="standard"    column="standard"    />
        <result property="pmethod"    column="pmethod"    />
        <result property="remark"    column="remark"    />
        <result property="isValid"    column="is_valid"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="attribute1"    column="attribute1"    />
        <result property="attribute2"    column="attribute2"    />
        <result property="attribute3"    column="attribute3"    />
    </resultMap>

    <sql id="selectBsProSopDetailVo">
        select id, main_id, orderno, pcode, name, standard, pmethod, remark, is_valid, create_by, create_time, update_by, update_time, attribute1, attribute2, attribute3 from bs_pro_sop_detail
    </sql>

    <select id="selectBsProSopDetailList" parameterType="BsProSopDetail" resultMap="BsProSopDetailResult">
        <include refid="selectBsProSopDetailVo"/>
        <where>  
            <if test="mainId != null  and mainId != ''"> and main_id = #{mainId}</if>
            <if test="orderno != null "> and orderno = #{orderno}</if>
            <if test="pcode != null  and pcode != ''"> and pcode = #{pcode}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="standard != null  and standard != ''"> and standard = #{standard}</if>
            <if test="pmethod != null  and pmethod != ''"> and pmethod = #{pmethod}</if>
        </where>
    </select>
    
    <select id="selectBsProSopDetailById" parameterType="String" resultMap="BsProSopDetailResult">
        <include refid="selectBsProSopDetailVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBsProSopDetail" parameterType="BsProSopDetail">
        insert into bs_pro_sop_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="mainId != null and mainId != ''">main_id,</if>
            <if test="orderno != null">orderno,</if>
            <if test="pcode != null and pcode != ''">pcode,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="standard != null and standard != ''">standard,</if>
            <if test="pmethod != null and pmethod != ''">pmethod,</if>
            <if test="remark != null">remark,</if>
            <if test="isValid != null">is_valid,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time,
            <if test="updateBy != null">update_by,</if>
            update_time,
            <if test="attribute1 != null">attribute1,</if>
            <if test="attribute2 != null">attribute2,</if>
            <if test="attribute3 != null">attribute3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="mainId != null and mainId != ''">#{mainId},</if>
            <if test="orderno != null">#{orderno},</if>
            <if test="pcode != null and pcode != ''">#{pcode},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="standard != null and standard != ''">#{standard},</if>
            <if test="pmethod != null and pmethod != ''">#{pmethod},</if>
            <if test="remark != null">#{remark},</if>
            <if test="isValid != null">#{isValid},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate(),
            <if test="updateBy != null">#{updateBy},</if>
            sysdate(),
            <if test="attribute1 != null">#{attribute1},</if>
            <if test="attribute2 != null">#{attribute2},</if>
            <if test="attribute3 != null">#{attribute3},</if>
         </trim>
    </insert>

    <update id="updateBsProSopDetail" parameterType="BsProSopDetail">
        update bs_pro_sop_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="mainId != null and mainId != ''">main_id = #{mainId},</if>
            <if test="orderno != null">orderno = #{orderno},</if>
            <if test="pcode != null and pcode != ''">pcode = #{pcode},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="standard != null and standard != ''">standard = #{standard},</if>
            <if test="pmethod != null and pmethod != ''">pmethod = #{pmethod},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="isValid != null">is_valid = #{isValid},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate(),
            <if test="attribute1 != null">attribute1 = #{attribute1},</if>
            <if test="attribute2 != null">attribute2 = #{attribute2},</if>
            <if test="attribute3 != null">attribute3 = #{attribute3},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBsProSopDetailById" parameterType="String">
        delete from bs_pro_sop_detail where id = #{id}
    </delete>

    <delete id="deleteBsProSopDetailByIds" parameterType="String">
        delete from bs_pro_sop_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>