<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saas.pssc.mapper.PpWoBookBomMapper">
    
    <resultMap type="PpWoBookBom" id="PpWoBookBomResult">
        <result property="id"    column="id"    />
        <result property="mainId"    column="main_id"    />
        <result property="orderno"    column="orderno"    />
        <result property="mcode"    column="mcode"    />
        <result property="mname"    column="mname"    />
        <result property="mspec"    column="mspec"    />
        <result property="attribute"    column="attribute"    />
        <result property="onsize"    column="onsize"    />
        <result property="moqieqty"    column="moqieqty"    />
        <result property="qiezhiqty"    column="qiezhiqty"    />
        <result property="qty"    column="qty"    />
        <result property="unit"    column="unit"    />
        <result property="unratio"    column="unratio"    />
        <result property="ruter"    column="ruter"    />
        <result property="remark"    column="remark"    />
        <result property="isValid"    column="is_valid"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="attribute1"    column="attribute1"    />
        <result property="attribute2"    column="attribute2"    />
        <result property="attribute3"    column="attribute3"    />
    </resultMap>

    <sql id="selectPpWoBookBomVo">
        select id, main_id, orderno, mcode, mname, mspec, attribute, onsize, moqieqty, qiezhiqty, qty, unit, unratio, ruter, remark, is_valid, create_by, create_time, update_by, update_time, attribute1, attribute2, attribute3 from pp_wo_book_bom
    </sql>

    <select id="selectPpWoBookBomList" parameterType="PpWoBookBom" resultMap="PpWoBookBomResult">
        <include refid="selectPpWoBookBomVo"/>
        <where>  
            <if test="mainId != null  and mainId != ''"> and main_id = #{mainId}</if>
            <if test="orderno != null  and orderno != ''"> and orderno = #{orderno}</if>
            <if test="mcode != null  and mcode != ''"> and mcode like concat('%', #{mcode}, '%')</if>
            <if test="mname != null  and mname != ''"> and mname like concat('%', #{mname}, '%')</if>
            <if test="mspec != null  and mspec != ''"> and mspec = #{mspec}</if>
            <if test="attribute != null  and attribute != ''"> and attribute = #{attribute}</if>
            <if test="onsize != null  and onsize != ''"> and onsize = #{onsize}</if>
            <if test="moqieqty != null "> and moqieqty = #{moqieqty}</if>
            <if test="qiezhiqty != null "> and qiezhiqty = #{qiezhiqty}</if>
            <if test="qty != null "> and qty = #{qty}</if>
            <if test="unit != null  and unit != ''"> and unit = #{unit}</if>
            <if test="unratio != null "> and unratio = #{unratio}</if>
            <if test="ruter != null  and ruter != ''"> and ruter = #{ruter}</if>
        </where>
    </select>
    
    <select id="selectPpWoBookBomById" parameterType="String" resultMap="PpWoBookBomResult">
        <include refid="selectPpWoBookBomVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPpWoBookBom" parameterType="PpWoBookBom">
        insert into pp_wo_book_bom
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="mainId != null and mainId != ''">main_id,</if>
            <if test="orderno != null and orderno != ''">orderno,</if>
            <if test="mcode != null and mcode != ''">mcode,</if>
            <if test="mname != null and mname != ''">mname,</if>
            <if test="mspec != null and mspec != ''">mspec,</if>
            <if test="attribute != null and attribute != ''">attribute,</if>
            <if test="onsize != null">onsize,</if>
            <if test="moqieqty != null">moqieqty,</if>
            <if test="qiezhiqty != null">qiezhiqty,</if>
            <if test="qty != null">qty,</if>
            <if test="unit != null">unit,</if>
            <if test="unratio != null">unratio,</if>
            <if test="ruter != null">ruter,</if>
            <if test="remark != null">remark,</if>
            <if test="isValid != null">is_valid,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time,
            <if test="updateBy != null">update_by,</if>
            update_time,
            <if test="attribute1 != null">attribute1,</if>
            <if test="attribute2 != null">attribute2,</if>
            <if test="attribute3 != null">attribute3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="mainId != null and mainId != ''">#{mainId},</if>
            <if test="orderno != null and orderno != ''">#{orderno},</if>
            <if test="mcode != null and mcode != ''">#{mcode},</if>
            <if test="mname != null and mname != ''">#{mname},</if>
            <if test="mspec != null and mspec != ''">#{mspec},</if>
            <if test="attribute != null and attribute != ''">#{attribute},</if>
            <if test="onsize != null">#{onsize},</if>
            <if test="moqieqty != null">#{moqieqty},</if>
            <if test="qiezhiqty != null">#{qiezhiqty},</if>
            <if test="qty != null">#{qty},</if>
            <if test="unit != null">#{unit},</if>
            <if test="unratio != null">#{unratio},</if>
            <if test="ruter != null">#{ruter},</if>
            <if test="remark != null">#{remark},</if>
            <if test="isValid != null">#{isValid},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="attribute1 != null">#{attribute1},</if>
            <if test="attribute2 != null">#{attribute2},</if>
            <if test="attribute3 != null">#{attribute3},</if>
         </trim>
    </insert>

    <update id="updatePpWoBookBom" parameterType="PpWoBookBom">
        update pp_wo_book_bom
        <trim prefix="SET" suffixOverrides=",">
            <if test="mainId != null and mainId != ''">main_id = #{mainId},</if>
            <if test="orderno != null and orderno != ''">orderno = #{orderno},</if>
            <if test="mcode != null and mcode != ''">mcode = #{mcode},</if>
            <if test="mname != null and mname != ''">mname = #{mname},</if>
            <if test="mspec != null and mspec != ''">mspec = #{mspec},</if>
            <if test="attribute != null and attribute != ''">attribute = #{attribute},</if>
            <if test="onsize != null">onsize = #{onsize},</if>
            <if test="moqieqty != null">moqieqty = #{moqieqty},</if>
            <if test="qiezhiqty != null">qiezhiqty = #{qiezhiqty},</if>
            <if test="qty != null">qty = #{qty},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="unratio != null">unratio = #{unratio},</if>
            <if test="ruter != null">ruter = #{ruter},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="isValid != null">is_valid = #{isValid},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="attribute1 != null">attribute1 = #{attribute1},</if>
            <if test="attribute2 != null">attribute2 = #{attribute2},</if>
            <if test="attribute3 != null">attribute3 = #{attribute3},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePpWoBookBomById" parameterType="String">
        delete from pp_wo_book_bom where id = #{id}
    </delete>

    <delete id="deletePpWoBookBomByIds" parameterType="String">
        delete from pp_wo_book_bom where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>