<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saas.pssc.mapper.PpWorkYieldMapper">
    
    <resultMap type="PpWorkYield" id="PpWorkYieldResult">
        <result property="id"    column="id"    />
        <result property="wcode"    column="wcode"    />
        <result property="pcode"    column="pcode"    />
        <result property="pname"    column="pname"    />
        <result property="qty"    column="qty"    />
        <result property="pwork"    column="pwork"    />
        <result property="machine"    column="machine"    />
        <result property="standardYield"    column="standard_yield"    />
        <result property="actualYield"    column="actual_yield"    />
        <result property="remark"    column="remark"    />
        <result property="isValid"    column="is_valid"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="attribute1"    column="attribute1"    />
        <result property="attribute2"    column="attribute2"    />
        <result property="attribute3"    column="attribute3"    />
    </resultMap>

    <sql id="selectPpWorkYieldVo">
        select id, wcode, pcode, pname, qty, pwork, machine, standard_yield, actual_yield, t.remark, t.is_valid, t.create_by, t.create_time, t.update_by, t.update_time, attribute1, attribute2, attribute3 
        from pp_work_yield t left join sys_user su on t.create_by = su.login_name
    </sql>

    <select id="selectPpWorkYieldList" parameterType="PpWorkYield" resultMap="PpWorkYieldResult">
        <include refid="selectPpWorkYieldVo"/>
        <where>
            <if test="wcode != null  and wcode != ''"> and wcode = #{wcode}</if>
            <if test="pcode != null  and pcode != ''"> and pcode = #{pcode}</if>
            <if test="pname != null  and pname != ''"> and pname like concat('%', #{pname}, '%')</if>
            <if test="qty != null "> and qty = #{qty}</if>
            <if test="pwork != null  and pwork != ''"> and pwork = #{pwork}</if>
            <if test="machine != null  and machine != ''"> and machine = #{machine}</if>
            <if test="standardYield != null "> and standard_yield = #{standardYield}</if>
            <if test="actualYield != null "> and actual_yield = #{actualYield}</if>
            and is_valid = '1'
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
        order by t.create_time desc
    </select>
    
    <select id="selectPpWorkYieldById" parameterType="Long" resultMap="PpWorkYieldResult">
        <include refid="selectPpWorkYieldVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPpWorkYield" parameterType="PpWorkYield" useGeneratedKeys="true" keyProperty="id">
        insert into pp_work_yield
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="wcode != null and wcode != ''">wcode,</if>
            <if test="pcode != null">pcode,</if>
            <if test="pname != null">pname,</if>
            <if test="qty != null">qty,</if>
            <if test="pwork != null">pwork,</if>
            <if test="machine != null">machine,</if>
            <if test="standardYield != null">standard_yield,</if>
            <if test="actualYield != null">actual_yield,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time,
            <if test="updateBy != null">update_by,</if>
            update_time,
            <if test="attribute1 != null">attribute1,</if>
            <if test="attribute2 != null">attribute2,</if>
            <if test="attribute3 != null">attribute3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="wcode != null and wcode != ''">#{wcode},</if>
            <if test="pcode != null">#{pcode},</if>
            <if test="pname != null">#{pname},</if>
            <if test="qty != null">#{qty},</if>
            <if test="pwork != null">#{pwork},</if>
            <if test="machine != null">#{machine},</if>
            <if test="standardYield != null">#{standardYield},</if>
            <if test="actualYield != null">#{actualYield},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate(),
            <if test="updateBy != null">#{updateBy},</if>
            sysdate(),
            <if test="attribute1 != null">#{attribute1},</if>
            <if test="attribute2 != null">#{attribute2},</if>
            <if test="attribute3 != null">#{attribute3},</if>
         </trim>
    </insert>

    <update id="updatePpWorkYield" parameterType="PpWorkYield">
        update pp_work_yield
        <trim prefix="SET" suffixOverrides=",">
            <if test="wcode != null and wcode != ''">wcode = #{wcode},</if>
            <if test="pcode != null">pcode = #{pcode},</if>
            <if test="pname != null">pname = #{pname},</if>
            <if test="qty != null">qty = #{qty},</if>
            <if test="pwork != null">pwork = #{pwork},</if>
            <if test="machine != null">machine = #{machine},</if>
            <if test="standardYield != null">standard_yield = #{standardYield},</if>
            <if test="actualYield != null">actual_yield = #{actualYield},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="isValid != null">is_valid = #{isValid},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate(),
            <if test="attribute1 != null">attribute1 = #{attribute1},</if>
            <if test="attribute2 != null">attribute2 = #{attribute2},</if>
            <if test="attribute3 != null">attribute3 = #{attribute3},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updatePpWorkYieldById" parameterType="Long">
        update pp_work_yield set is_valid = '0' where id = #{id}
    </update>

    <update id="updatePpWorkYieldByIds" parameterType="String">
        update pp_work_yield set is_valid = '0' where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <delete id="deletePpWorkYieldById" parameterType="Long">
        delete from pp_work_yield where id = #{id}
    </delete>

    <delete id="deletePpWorkYieldByIds" parameterType="String">
        delete from pp_work_yield where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>