<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saas.pssc.mapper.PpWoBookMainMapper">
    
    <resultMap type="PpWoBookMain" id="PpWoBookMainResult">
        <result property="id"    column="id"    />
        <result property="wcode"    column="wcode"    />
        <result property="orderno"    column="orderno"    />
        <result property="pcode"    column="pcode"    />
        <result property="pname"    column="pname"    />
        <result property="pspec"    column="pspec"    />
        <result property="qty"    column="qty"    />
        <result property="pstarTime"    column="pstar_time"    />
        <result property="pendTime"    column="pend_time"    />
        <result property="remark"    column="remark"    />
        <result property="isValid"    column="is_valid"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="attribute1"    column="attribute1"    />
        <result property="attribute2"    column="attribute2"    />
        <result property="attribute3"    column="attribute3"    />
    </resultMap>

    <resultMap id="PpWoBookMainPpWoBookDetailResult" type="PpWoBookMain" extends="PpWoBookMainResult">
        <collection property="ppWoBookDetailList" notNullColumn="sub_id" javaType="java.util.List" resultMap="PpWoBookDetailResult" />
        <collection property="ppWoBookBomList" notNullColumn="sub_bom_id" javaType="java.util.List" resultMap="PpWoBookBomResult" />
    </resultMap>

    <resultMap type="PpWoBookDetail" id="PpWoBookDetailResult">
        <result property="id"    column="sub_id"    />
        <result property="mainId"    column="sub_main_id"    />
        <result property="soncode"    column="sub_soncode"    />
        <result property="mcode"    column="sub_mcode"    />
        <result property="mname"    column="sub_mname"    />
        <result property="mspec"    column="sub_mspec"    />
        <result property="stime"    column="sub_stime"    />
        <result property="etime"    column="sub_etime"    />
        <result property="cwork"    column="sub_cwork"    />
        <result property="cstation"    column="sub_cstation"    />
        <result property="planqty"    column="sub_planqty"    />
        <result property="inputqty"    column="sub_inputqty"    />
        <result property="outputqty"    column="sub_outputqty"    />
        <result property="stdtime"    column="sub_stdtime"    />
        <result property="stdrate"    column="sub_stdrate"    />
        <result property="acttime"    column="sub_acttime"    />
        <result property="actrate"    column="sub_actrate"    />
        <result property="remark"    column="sub_remark"    />
        <result property="isValid"    column="sub_is_valid"    />
        <result property="createBy"    column="sub_create_by"    />
        <result property="createTime"    column="sub_create_time"    />
        <result property="updateBy"    column="sub_update_by"    />
        <result property="updateTime"    column="sub_update_time"    />
        <result property="attribute1"    column="sub_attribute1"    />
        <result property="attribute2"    column="sub_attribute2"    />
        <result property="attribute3"    column="sub_attribute3"    />
    </resultMap>

    <resultMap type="PpWoBookBom" id="PpWoBookBomResult">
        <result property="id"    column="sub_bom_id"    />
        <result property="mainId"    column="sub_main_bom_id"    />
        <result property="orderno"    column="sub_bom_orderno"    />
        <result property="mcode"    column="sub_bom_mcode"    />
        <result property="mname"    column="sub_bom_mname"    />
        <result property="mspec"    column="sub_bom_mspec"    />
        <result property="attribute"    column="sub_bom_attribute"    />
        <result property="onsize"    column="sub_bom_onsize"    />
        <result property="moqieqty"    column="sub_bom_moqieqty"    />
        <result property="qiezhiqty"    column="sub_bom_qiezhiqty"    />
        <result property="qty"    column="sub_bom_qty"    />
        <result property="unit"    column="sub_bom_unit"    />
        <result property="unratio"    column="sub_bom_unratio"    />
        <result property="ruter"    column="sub_bom_ruter"    />
        <result property="remark"    column="sub_bom_remark"    />
        <result property="isValid"    column="sub_bom_is_valid"    />
        <result property="createBy"    column="sub_bom_create_by"    />
        <result property="createTime"    column="sub_bom_create_time"    />
        <result property="updateBy"    column="sub_bom_update_by"    />
        <result property="updateTime"    column="sub_bom_update_time"    />
        <result property="attribute1"    column="sub_bom_attribute1"    />
        <result property="attribute2"    column="sub_bom_attribute2"    />
        <result property="attribute3"    column="sub_bom_attribute3"    />
    </resultMap>

    <sql id="selectPpWoBookMainVo">
        select id, wcode, orderno, pcode, pname, pspec, qty, pstar_time, pend_time, t.remark, t.is_valid, t.create_by, t.create_time, t.update_by, t.update_time, attribute1, attribute2, attribute3 
        from pp_wo_book_main t left join sys_user su on t.update_by = su.login_name
    </sql>

    <select id="selectPpWoBookMainList" parameterType="PpWoBookMain" resultMap="PpWoBookMainResult">
        <include refid="selectPpWoBookMainVo"/>
        <where>  
            <if test="wcode != null  and wcode != ''"> and wcode like concat('%', #{wcode}, '%')</if>
            <if test="orderno != null  and orderno != ''"> and orderno like concat('%', #{orderno}, '%')</if>
            <if test="pcode != null  and pcode != ''"> and pcode like concat('%', #{pcode}, '%')</if>
            <if test="pname != null  and pname != ''"> and pname like concat('%', #{pname}, '%')</if>
            <if test="pspec != null  and pspec != ''"> and pspec = #{pspec}</if>
            <if test="qty != null "> and qty = #{qty}</if>
            <if test="pstarTime != null "> and pstar_time = #{pstarTime}</if>
            <if test="pendTime != null "> and pend_time = #{pendTime}</if>
            and is_valid = '1' 
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
        order by t.create_time desc
    </select>
    
    <select id="selectPpWoBookMainById" parameterType="String" resultMap="PpWoBookMainPpWoBookDetailResult">
        select a.id, a.wcode, a.orderno, a.pcode, a.pname, a.pspec, a.qty, a.pstar_time, a.pend_time, a.remark, a.is_valid, a.create_by, a.create_time, a.update_by, a.update_time, a.attribute1, a.attribute2, a.attribute3,
            b.id as sub_id, b.main_id as sub_main_id, b.soncode as sub_soncode, b.mcode as sub_mcode, b.mname as sub_mname, b.mspec as sub_mspec, b.stime as sub_stime, b.etime as sub_etime, b.cwork as sub_cwork, b.cstation as sub_cstation, b.planqty as sub_planqty, b.inputqty as sub_inputqty, b.outputqty as sub_outputqty, b.stdtime as sub_stdtime, b.stdrate as sub_stdrate, b.acttime as sub_acttime, b.actrate as sub_actrate, b.remark as sub_remark, b.is_valid as sub_is_valid, b.create_by as sub_create_by, b.create_time as sub_create_time, b.update_by as sub_update_by, b.update_time as sub_update_time, b.attribute1 as sub_attribute1, b.attribute2 as sub_attribute2, b.attribute3 as sub_attribute3,
            c.id as sub_bom_id, c.main_id as sub_bom_main_id, c.orderno as sub_bom_orderno, c.mcode as sub_bom_mcode, c.mname as sub_bom_mname, c.mspec as sub_bom_mspec, c.attribute as sub_bom_attribute, c.onsize as sub_bom_onsize, c.moqieqty as sub_bom_moqieqty, c.qiezhiqty as sub_bom_qiezhiqty, c.qty as sub_bom_qty, c.unit as sub_bom_unit, c.unratio as sub_bom_unratio, c.ruter as sub_bom_ruter, c.remark as sub_bom_remark, c.is_valid as sub_bom_is_valid, c.create_by as sub_bom_create_by, c.create_time as sub_bom_create_time, c.update_by as sub_bom_update_by, c.update_time as sub_bom_update_time, c.attribute1 as sub_bom_attribute1, c.attribute2 as sub_bom_attribute2, c.attribute3 as sub_bom_attribute3
        from pp_wo_book_main a
        left join pp_wo_book_detail b on b.main_id = a.id
        left join pp_wo_book_bom c on c.main_id = a.id
        where a.id = #{id}
        order by b.soncode,c.orderno
    </select>
        
    <insert id="insertPpWoBookMain" parameterType="PpWoBookMain">
        insert into pp_wo_book_main
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="wcode != null and wcode != ''">wcode,</if>
            <if test="orderno != null and orderno != ''">orderno,</if>
            <if test="pcode != null and pcode != ''">pcode,</if>
            <if test="pname != null">pname,</if>
            <if test="pspec != null and pspec != ''">pspec,</if>
            <if test="qty != null">qty,</if>
            <if test="pstarTime != null">pstar_time,</if>
            <if test="pendTime != null">pend_time,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time,
            <if test="updateBy != null">update_by,</if>
            update_time,
            <if test="attribute1 != null">attribute1,</if>
            <if test="attribute2 != null">attribute2,</if>
            <if test="attribute3 != null">attribute3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="wcode != null and wcode != ''">#{wcode},</if>
            <if test="orderno != null and orderno != ''">#{orderno},</if>
            <if test="pcode != null and pcode != ''">#{pcode},</if>
            <if test="pname != null">#{pname},</if>
            <if test="pspec != null and pspec != ''">#{pspec},</if>
            <if test="qty != null">#{qty},</if>
            <if test="pstarTime != null">#{pstarTime},</if>
            <if test="pendTime != null">#{pendTime},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate(),
            <if test="updateBy != null">#{updateBy},</if>
            sysdate(),
            <if test="attribute1 != null">#{attribute1},</if>
            <if test="attribute2 != null">#{attribute2},</if>
            <if test="attribute3 != null">#{attribute3},</if>
         </trim>
    </insert>

    <update id="updatePpWoBookMain" parameterType="PpWoBookMain">
        update pp_wo_book_main
        <trim prefix="SET" suffixOverrides=",">
            <if test="wcode != null and wcode != ''">wcode = #{wcode},</if>
            <if test="orderno != null and orderno != ''">orderno = #{orderno},</if>
            <if test="pcode != null and pcode != ''">pcode = #{pcode},</if>
            <if test="pname != null">pname = #{pname},</if>
            <if test="pspec != null and pspec != ''">pspec = #{pspec},</if>
            <if test="qty != null">qty = #{qty},</if>
            <if test="pstarTime != null">pstar_time = #{pstarTime},</if>
            <if test="pendTime != null">pend_time = #{pendTime},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate(),
            <if test="attribute1 != null">attribute1 = #{attribute1},</if>
            <if test="attribute2 != null">attribute2 = #{attribute2},</if>
            <if test="attribute3 != null">attribute3 = #{attribute3},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updatePpWoBookMainById" parameterType="String">
        update pp_wo_book_main set is_valid = '0' where id = #{id}
    </update>

    <update id="updatePpWoBookMainByIds" parameterType="String">
        update pp_wo_book_main set is_valid = '0' where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <delete id="deletePpWoBookMainById" parameterType="String">
        delete from pp_wo_book_main where id = #{id}
    </delete>

    <delete id="deletePpWoBookMainByIds" parameterType="String">
        delete from pp_wo_book_main where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <delete id="deletePpWoBookDetailByMainIds" parameterType="String">
        delete from pp_wo_book_detail where main_id in 
        <foreach item="mainId" collection="array" open="(" separator="," close=")">
            #{mainId}
        </foreach>
    </delete>

    <delete id="deletePpWoBookBomByMainIds" parameterType="String">
        delete from pp_wo_book_bom where main_id in 
        <foreach item="mainId" collection="array" open="(" separator="," close=")">
            #{mainId}
        </foreach>
    </delete>

    <delete id="deletePpWoBookDetailByMainId" parameterType="String">
        delete from pp_wo_book_detail where main_id = #{mainId}
    </delete>

    <delete id="deletePpWoBookBomByMainId" parameterType="String">
        delete from pp_wo_book_bom where main_id = #{mainId}
    </delete>

    <insert id="batchPpWoBookDetail">
        insert into pp_wo_book_detail( id, main_id, soncode, mcode, mname, mspec, stime, etime, cwork, cstation, planqty, inputqty, outputqty, stdtime, stdrate, acttime, actrate, remark, create_by, create_time, update_by, update_time, attribute1, attribute2, attribute3) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.mainId}, #{item.soncode}, #{item.mcode}, #{item.mname}, #{item.mspec}, #{item.stime}, #{item.etime}, #{item.cwork}, #{item.cstation}, #{item.planqty}, #{item.inputqty}, #{item.outputqty}, #{item.stdtime}, #{item.stdrate}, #{item.acttime}, #{item.actrate}, #{item.remark},  #{item.createBy}, sysdate(), #{item.updateBy}, sysdate(), #{item.attribute1}, #{item.attribute2}, #{item.attribute3})
        </foreach>
    </insert>

    <insert id="batchPpWoBookBom">
        insert into pp_wo_book_bom( id, main_id, orderno, mcode, mname, mspec, attribute, onsize, moqieqty, qiezhiqty, qty, unit, unratio, ruter, remark, create_by, create_time, update_by, update_time, attribute1, attribute2, attribute3) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.mainId}, #{item.orderno}, #{item.mcode}, #{item.mname}, #{item.mspec}, #{item.attribute}, #{item.onsize}, #{item.moqieqty}, #{item.qiezhiqty}, #{item.qty}, #{item.unit}, #{item.unratio}, #{item.ruter}, #{item.remark},  #{item.createBy}, sysdate(), #{item.updateBy}, sysdate(), #{item.attribute1}, #{item.attribute2}, #{item.attribute3})
        </foreach>
    </insert>

</mapper>