<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saas.pssc.mapper.PpWoBookDetailMapper">
    
    <resultMap type="PpWoBookDetail" id="PpWoBookDetailResult">
        <result property="id"    column="id"    />
        <result property="mainId"    column="main_id"    />
        <result property="no"    column="no"    />
        <result property="soncode"    column="soncode"    />
        <result property="mcode"    column="mcode"    />
        <result property="mname"    column="mname"    />
        <result property="mspec"    column="mspec"    />
        <result property="stime"    column="stime"    />
        <result property="etime"    column="etime"    />
        <result property="cwork"    column="cwork"    />
        <result property="cstation"    column="cstation"    />
        <result property="planqty"    column="planqty"    />
        <result property="inputqty"    column="inputqty"    />
        <result property="outputqty"    column="outputqty"    />
        <result property="stdtime"    column="stdtime"    />
        <result property="stdrate"    column="stdrate"    />
        <result property="acttime"    column="acttime"    />
        <result property="actrate"    column="actrate"    />
        <result property="remark"    column="remark"    />
        <result property="isValid"    column="is_valid"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="attribute1"    column="attribute1"    />
        <result property="attribute2"    column="attribute2"    />
        <result property="attribute3"    column="attribute3"    />
    </resultMap>

    <sql id="selectPpWoBookDetailVo">
        select id, main_id, no,soncode, mcode, mname, mspec, stime, etime, cwork, cstation, planqty, inputqty, outputqty, stdtime, stdrate, acttime, actrate, remark, is_valid, create_by, create_time, update_by, update_time, attribute1, attribute2, attribute3 from pp_wo_book_detail
    </sql>

    <select id="selectPpWoBookDetailList" parameterType="PpWoBookDetail" resultMap="PpWoBookDetailResult">
        <include refid="selectPpWoBookDetailVo"/>
        <where>  
            <if test="mainId != null  and mainId != ''"> and main_id = #{mainId}</if>
            <if test="soncode != null  and soncode != ''"> and soncode = #{soncode}</if>
            <if test="mcode != null  and mcode != ''"> and mcode = #{mcode}</if>
            <if test="mname != null  and mname != ''"> and mname like concat('%', #{mname}, '%')</if>
            <if test="mspec != null  and mspec != ''"> and mspec = #{mspec}</if>
            <if test="stime != null "> and stime = #{stime}</if>
            <if test="etime != null "> and etime = #{etime}</if>
            <if test="cwork != null  and cwork != ''"> and cwork = #{cwork}</if>
            <if test="cstation != null  and cstation != ''"> and cstation = #{cstation}</if>
            <if test="planqty != null  and planqty != ''"> and planqty = #{planqty}</if>
            <if test="inputqty != null  and inputqty != ''"> and inputqty = #{inputqty}</if>
            <if test="outputqty != null  and outputqty != ''"> and outputqty = #{outputqty}</if>
            <if test="stdtime != null  and stdtime != ''"> and stdtime = #{stdtime}</if>
            <if test="stdrate != null  and stdrate != ''"> and stdrate = #{stdrate}</if>
            <if test="acttime != null  and acttime != ''"> and acttime = #{acttime}</if>
            <if test="actrate != null  and actrate != ''"> and actrate = #{actrate}</if>
        </where>
    </select>
    
    <select id="selectPpWoBookDetailById" parameterType="String" resultMap="PpWoBookDetailResult">
        <include refid="selectPpWoBookDetailVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPpWoBookDetail" parameterType="PpWoBookDetail">
        insert into pp_wo_book_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="mainId != null">main_id,</if>
            <if test="no != null">no,</if>
            <if test="soncode != null and soncode != ''">soncode,</if>
            <if test="mcode != null and mcode != ''">mcode,</if>
            <if test="mname != null and mname != ''">mname,</if>
            <if test="mspec != null and mspec != ''">mspec,</if>
            <if test="stime != null">stime,</if>
            <if test="etime != null">etime,</if>
            <if test="cwork != null and cwork != ''">cwork,</if>
            <if test="cstation != null and cstation != ''">cstation,</if>
            <if test="planqty != null and planqty != ''">planqty,</if>
            <if test="inputqty != null and inputqty != ''">inputqty,</if>
            <if test="outputqty != null and outputqty != ''">outputqty,</if>
            <if test="stdtime != null and stdtime != ''">stdtime,</if>
            <if test="stdrate != null and stdrate != ''">stdrate,</if>
            <if test="acttime != null and acttime != ''">acttime,</if>
            <if test="actrate != null and actrate != ''">actrate,</if>
            <if test="remark != null">remark,</if>
            <if test="isValid != null">is_valid,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time,
            <if test="updateBy != null">update_by,</if>
            update_time,
            <if test="attribute1 != null">attribute1,</if>
            <if test="attribute2 != null">attribute2,</if>
            <if test="attribute3 != null">attribute3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="mainId != null">#{mainId},</if>
            <if test="no != null">#{no},</if>
            <if test="soncode != null and soncode != ''">#{soncode},</if>
            <if test="mcode != null and mcode != ''">#{mcode},</if>
            <if test="mname != null and mname != ''">#{mname},</if>
            <if test="mspec != null and mspec != ''">#{mspec},</if>
            <if test="stime != null">#{stime},</if>
            <if test="etime != null">#{etime},</if>
            <if test="cwork != null and cwork != ''">#{cwork},</if>
            <if test="cstation != null and cstation != ''">#{cstation},</if>
            <if test="planqty != null and planqty != ''">#{planqty},</if>
            <if test="inputqty != null and inputqty != ''">#{inputqty},</if>
            <if test="outputqty != null and outputqty != ''">#{outputqty},</if>
            <if test="stdtime != null and stdtime != ''">#{stdtime},</if>
            <if test="stdrate != null and stdrate != ''">#{stdrate},</if>
            <if test="acttime != null and acttime != ''">#{acttime},</if>
            <if test="actrate != null and actrate != ''">#{actrate},</if>
            <if test="remark != null">#{remark},</if>
            <if test="isValid != null">#{isValid},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="attribute1 != null">#{attribute1},</if>
            <if test="attribute2 != null">#{attribute2},</if>
            <if test="attribute3 != null">#{attribute3},</if>
         </trim>
    </insert>

    <update id="updatePpWoBookDetail" parameterType="PpWoBookDetail">
        update pp_wo_book_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="mainId != null and mainId != ''">main_id = #{mainId},</if>
            <if test="soncode != null and soncode != ''">soncode = #{soncode},</if>
            <if test="mcode != null and mcode != ''">mcode = #{mcode},</if>
            <if test="mname != null and mname != ''">mname = #{mname},</if>
            <if test="mspec != null and mspec != ''">mspec = #{mspec},</if>
            <if test="stime != null">stime = #{stime},</if>
            <if test="etime != null">etime = #{etime},</if>
            <if test="cwork != null and cwork != ''">cwork = #{cwork},</if>
            <if test="cstation != null and cstation != ''">cstation = #{cstation},</if>
            <if test="planqty != null and planqty != ''">planqty = #{planqty},</if>
            <if test="inputqty != null and inputqty != ''">inputqty = #{inputqty},</if>
            <if test="outputqty != null and outputqty != ''">outputqty = #{outputqty},</if>
            <if test="stdtime != null and stdtime != ''">stdtime = #{stdtime},</if>
            <if test="stdrate != null and stdrate != ''">stdrate = #{stdrate},</if>
            <if test="acttime != null and acttime != ''">acttime = #{acttime},</if>
            <if test="actrate != null and actrate != ''">actrate = #{actrate},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="isValid != null">is_valid = #{isValid},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="attribute1 != null">attribute1 = #{attribute1},</if>
            <if test="attribute2 != null">attribute2 = #{attribute2},</if>
            <if test="attribute3 != null">attribute3 = #{attribute3},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePpWoBookDetailById" parameterType="String">
        delete from pp_wo_book_detail where id = #{id}
    </delete>

    <delete id="deletePpWoBookDetailByIds" parameterType="String">
        delete from pp_wo_book_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>