<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增工单上线计划')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-onlineplan-add">
            <input type="hidden" name="createBy" th:value="${@permission.getPrincipalProperty('loginName')}">
            <input type="hidden" name="updateBy" th:value="${@permission.getPrincipalProperty('loginName')}">
            <div class="form-group">    
                <label class="col-sm-2 control-label is-required">计划工单号：</label>
                <div class="col-sm-4">
                    <input name="wcode" class="form-control" type="text" required>
                </div>
                <label class="col-sm-2 control-label  is-required">计划编辑时间：</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        <input name="ptime" class="form-control" placeholder="yyyy-MM-dd hh:mm:ss" type="text" required>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label is-required">计划编辑人：</label>
                <div class="col-sm-4">
                    <input name="puser" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label is-required">产品编号：</label>
                <div class="col-sm-4">
                    <input name="pcode" class="form-control" type="text" required>
                </div>
                <label class="col-sm-2 control-label is-required">产品名称：</label>
                <div class="col-sm-4">
                    <input name="pname" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label is-required">计划数量：</label>
                <div class="col-sm-4">
                    <input name="qty" class="form-control" type="text" required>
                </div>
                <label class="col-sm-2 control-label is-required">计划开工时间：</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        <input name="pstarTime" class="form-control" placeholder="yyyy-MM-dd hh:mm:ss" type="text" required>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label is-required">计划完工时间：</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        <input name="pendTime" class="form-control" placeholder="yyyy-MM-ddhh:mm:ss" type="text" required>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                
            </div>
            <div class="form-group">   
                <label class="col-sm-2 control-label is-required">工序：</label>
                <div class="col-sm-2">
                    <input name="pwork" class="form-control" type="text" required>
                </div> 
                <label class="col-sm-2 control-label is-required">机台：</label>
                <div class="col-sm-2">
                    <input name="machine" class="form-control" type="text" required>
                </div>
                <label class="col-sm-2 control-label is-required">转换时间(小时)：</label>
                <div class="col-sm-2">
                    <input name="changeTimes" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label is-required">生产耗时(小时)：</label>
                <div class="col-sm-4">
                    <input name="produceTimes" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label is-required">备注：</label>
                <div class="col-sm-10">
                    <textarea name="remark" class="form-control" required></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "pp/onlineplan"
        $("#form-onlineplan-add").validate({
            onkeyup: false,
			rules:{
				changeTimes:{
					number:true
                },
                produceTimes:{
					number:true
                },
			},
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-onlineplan-add').serialize());
            }
        }

        $("input[name='ptime']").datetimepicker({
            format: "yyyy-mm-dd hh:ii:ss",
            minView: "month",
            autoclose: true
        });

        $("input[name='pstarTime']").datetimepicker({
            format: "yyyy-mm-dd hh:ii:ss",
            minView: "month",
            autoclose: true
        });

        $("input[name='pendTime']").datetimepicker({
            format: "yyyy-mm-dd hh:ii:ss",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>