<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改成品库存')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-mstore-edit" th:object="${inStoreMain}">
            <input type="hidden" name="updateBy" th:value="${@permission.getPrincipalProperty('loginName')}">
            <h4 class="form-header h4">基本信息</h4>
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group" style="display: none;">    
                <label class="col-sm-3 control-label">库存类型 0:材料库存 1:半成品库存 3:成品库存：</label>
                <div class="col-sm-8">
                    <select name="ptype" class="form-control m-b">
                        <option value="2">成品库存</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label is-required">计划工单号：</label>
                <div class="col-sm-4">
                    <input name="pcode" th:field="*{pcode}" class="form-control" type="text" required>
                </div>
                <label class="col-sm-2 control-label is-required">入库人：</label>
                <div class="col-sm-4">
                    <input name="inputUser" th:field="*{inputUser}" class="form-control" type="text" th:value="${@permission.getPrincipalProperty('loginName')}" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label is-required">入库时间：</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        <input name="inputTime" th:value="${#dates.format(inStoreMain.inputTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <h4 class="form-header h4">材料信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-white btn-sm" onclick="addColumn('')"><i class="fa fa-plus"> 增加</i></button>
                    <button type="button" class="btn btn-white btn-sm" onclick="sub.delColumn()"><i class="fa fa-minus"> 删除</i></button>
                    <button type="button" class="btn btn-info btn-sm" onclick="$.table.custImportExcel()"><i class="fa fa-upload"></i> 导入</button>
                    <div class="col-sm-12 select-table table-striped">
                        <table id="bootstrap-table"></table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "in/fstoremain";
        var isValidDatas = [[${@dict.getType('sys_is_valid')}]];
        $("#form-mstore-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-mstore-edit').serialize());
            }
        }

        $("input[name='inputTime']").datetimepicker({
            format: "yyyy-mm-dd hh:ii:ss",
            minView: "month",
            autoclose: true
        });

        $(function() {
            var options = {
                modalName: "成品信息",
                importUrl: ctx + "in/fstoredetail/importData",
                importTemplateUrl: ctx + "in/fstoredetail/importTemplate",
                data: [[${inStoreMain.inStoreDetailList}]],
                pagination: false,
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                sidePagination: "client",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'index',
                    align: 'center',
                    title: "序号",
                    formatter: function (value, row, index) {
                    	var columnIndex = $.common.sprintf("<input type='hidden' name='index' value='%s'>", $.table.serialNumber(index));
                    	return columnIndex + $.table.serialNumber(index);
                    }
                },
                {
                    field: 'mname',
                    align: 'center',
                    title: '成品名称',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='inStoreDetailList[%s].mname' value='%s'>", index, value);
                        return html;
                    }
				},
                {
                    field: 'mcode',
                    align: 'center',
                    title: '成品编号',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='inStoreDetailList[%s].mcode' value='%s'>", index, value);
                        return html;
                    }
				},
                {
                    field: 'mlot',
                    align: 'center',
                    title: '成品批次号',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='inStoreDetailList[%s].mlot' value='%s'>", index, value);
                        return html;
                    }
				},
                {
                    field: 'vendor',
                    align: 'center',
                    title: '生产班组',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='inStoreDetailList[%s].vendor' value='%s'>", index, value);
                        return html;
                    }
				},
                {
                    field: 'unit',
                    align: 'center',
                    title: '单位',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='inStoreDetailList[%s].unit' value='%s'>", index, value);
                        return html;
                    }
				},
                {
                    field: 'qty',
                    align: 'center',
                    title: '入库数量',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='inStoreDetailList[%s].qty' value='%s'>", index, value);
                        return html;
                    }
				},
                {
                    field: 'iqty',
                    align: 'center',
                    title: '库存数量',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='inStoreDetailList[%s].iqty' value='%s'>", index, value);
                        return html;
                    }
				},
                {
                    field: 'isValid',
                    align: 'center',
                    title: '有效否',
                    visible: false,
                    formatter: function(value, row, index) {
                        var name = $.common.sprintf("inStoreDetailList[%s].isValid", index);
                        return $.common.dictToSelect(isValidDatas, value, name);
                    }
                },
                {
                    field: 'createBy',
                    align: 'center',
                    title: '创建人',
                    visible: false,
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='inStoreDetailList[%s].createBy' value='%s'>", index, value);
                        return html;
                    }
				},
                {
                    field: 'createTime',
                    align: 'center',
                    visible: false,
                    title: '创建时间 默认为当前时间',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='inStoreDetailList[%s].createTime' value='%s'>", index, value);
                        return html;
                    }
				},
                {
                    field: 'updateBy',
                    align: 'center',
                    title: '修改人',
                    visible: false,
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='inStoreDetailList[%s].updateBy' value='%s'>", index, value);
                        return html;
                    }
				},
                {
                    field: 'updateTime',
                    align: 'center',
                    title: '修改时间',
                    visible: false,
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='inStoreDetailList[%s].updateTime' value='%s'>", index, value);
                        return html;
                    }
				}]
            };
            $.table.init(options);
        });

        function addColumn(obj) {
            var count = $("#" + table.options.id).bootstrapTable('getData').length;
            sub.editColumn();
        	
            $("#" + table.options.id).bootstrapTable('insertRow', {
                index: count,
                row: {
                    index: $.table.serialNumber(count),
                    mcode: $.common.isNotEmpty(obj)?obj.mcode:"",
                    mname: $.common.isNotEmpty(obj)?obj.mname:"",
                    mlot: $.common.isNotEmpty(obj)?obj.mlot:"",
                    vendor: $.common.isNotEmpty(obj)?obj.vendor:"",
                    qty: $.common.isNotEmpty(obj)?obj.qty:"",
                    iqty: $.common.isNotEmpty(obj)?obj.iqty:"",
                    unit: $.common.isNotEmpty(obj)?obj.unit:"",
                    isValid: "",
                    createBy: $("input[name='createBy']").val(),
                    createTime: $.common.dateFormat(new Date(),"yyyy-MM-dd HH:mm:ss"),
                    updateBy: $("input[name='updateBy']").val(),
                    updateTime: $.common.dateFormat(new Date(),"yyyy-MM-dd HH:mm:ss")
                }
            });
        }
    </script>
</body>
<script id="importTpl" type="text/template">
<form enctype="multipart/form-data" class="mt20 mb10">
	<div class="col-xs-offset-1">
		<input type="file" id="file" name="file"/>
		<div class="mt10 pt5">
			下载模板:  &nbsp;	<a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
		</div>
		<font color="red" class="pull-left mt10">
			提示：仅允许导入“xls”或“xlsx”格式文件！
		</font>
	</div>
</form>
</script>
</html>